[2016-01-15 05:19] digistump opened #1 "BOUNTY: Clean up and Integrate OakParticle library directly into core"
**Skills Required:** Intermediate to expert at C/C++ structure and Arduino integration
**Difficulty:** Easy to moderate for someone with the above skills

## Part 1
Refactor OakParticle.h and particle_core.h to be a properly formatted set of classes, with proper header and code files:

No functional changes should be made to the code, any functional changes should be separate pull requests after t

[2016-01-15 07:19] danielmawhirter commented on #1
Compiling the example (ParticleTest.ino) sketch leaves it complaining about c++11 support on dsakeygen.cpp:25. This is strange, because in %APPDATA%\Local\Arduino15\packages\esp8266\hardware\esp8266\2.0.0\platform.txt, compiler.cpp.flags includes -std=c++11.
"Does this work on your machine?"
I am working on the refactoring, but I make no claim to be able to finish until I am able to compile.

[2016-01-15 08:32] DarkLotus commented on #1
Im trying to get the Sample sketch compiling before attempting any changes. But im getting errors about Cache_Read_Enable_New() being already defined, yet to hit c++11 issues.

[2016-01-15 08:48] digistump commented on #1
@danielmawhirter - I get warnings about c++11 macros requirements when I compile, but that is it. In case it matters I'm compiling on windows - but it looks like you are too. I will try a full clean install on a different machine first thing in the morning to see if I can reproduce those errors, but given that I don't know much about the compiler flags I'm quite sure I haven't messed with them.

[2016-01-15 08:52] digistump commented on #1
@DarkLotus sorry about that - I long forgot that I had weakened that method in libmain in the SDK. That isn't needed for this code to compile or work so I've removed the file that causes that error if it isn't weakened - delete "oakboot-bigflash.c" or update to the latest commit (which does the same) and it should go away. Would love to hear if you then see c++11 errors like @danielmawhirter or no

[2016-01-15 08:55] DarkLotus commented on #1
No problems, compile's fine once removed no sign of any c++11 errors. Using Arduino 1.6.5 on Mint 17.3, Everything default as far as gcc or arduino goes.

_edit Given up for now, my C++ foo is not strong enough._

[2016-01-15 16:19] DeuxVis commented on #1
I've started to work on this, but the deadline is too close for me to succeed in time, and I need some rest.

By the way for which timezone is this ?

[2016-01-15 16:41] ghost commented on #1
I refactored the classes for part 1 (https://github.com/fri-sch/OakCore).
But it's not clean as I have no more time in the next few hours.

[2016-01-15 17:35] danielmawhirter commented on #1
@fri-sch You got through a few things that were causing me trouble. If sharing the bounty is possible, I will work from that starting point, as I do have time for the next few hours.

[2016-01-15 17:44] DeuxVis commented on #1
I'm giving up you guys are faster than me - that was fun to try ;)

@digistump I understand you're under some pressure to release a firmware for the oak, but at some not too far point in the future I'd recommend having the code redone from scratch if you can afford it. Maintainability will be a beast with this inherited "glue" coding you had this started from.

[2016-01-15 18:45] digistump commented on #1
@DeuxVis, @fri-sch, @danielmawhirter, @DarkLotus  Thank you all for working on this!

@DeuxVis the timezone was Pacific time I guess, but I would have taken it by that time in any timezone, given the amount of C++ foo required I wasn't sure if it was realistic but figured it was worth a shot

@fri-sch Please email me at support@digistump.com, I'd like to send you a small bounty for not just workin

[2016-01-15 19:04] danielmawhirter commented on #1
@digistump In the current pull request, the particle-core functions are still globally defined. Since that is the one major thing I managed to fix while I was working on it, I'm integrating it into @provrazor 's code to submit an additional pull request

[2016-01-15 19:12] mikekasprzak commented on #1
Thanks @digistump :)

@danielmawhirter They shouldn't be. `particle_core.h` is only included by the cpp files (Oak.cpp and OakParticle.cpp).

[2016-01-15 21:46] digistump commented on #1
A few remaining changes left on this are open to anyone, especially @povrazor (the original pull requester), @fri-sch and @danielmawhirter (since understand exactly what is needed/have done it).

See #2

[2016-01-15 21:52] digistump opened #3 "BOUNTY: Improve and complete "Serial" over the cloud code"
**Skills Required:** Intermediate at C/C++ and Arduino integration
**Difficulty:** Very easy for someone with the above skills

PLEASE NOTE: Anyone is welcome to start on this based on the current commit, but the final pull request is expected to have any changes made to complete the remaining scope fixes for #1 into this.

This should be integrated into the OakParticle.h/cpp CloudClass class,
and

[2016-01-15 21:52] digistump commented on #1
Another c/c++ bounty posted @ #3

[2016-01-15 23:05] mikekasprzak commented on #1
Easy enough. Here's a small patch that moves everything from `particle_core` in to a namespace.

[2016-01-15 23:27] mikekasprzak commented on #1
I changed my mind on what the namespace should be called. All the internal code tends to use an `underscore_syntax`, so I switched it from my original `ParticleCore` namespace to `particle_core`.

https://github.com/digistump/OakCore/pull/5

[2016-01-16 00:40] danielmawhirter commented on #3
The code above shows a mix of "spark_transmit_buffer" and "_transmit_buffer", are these meant to be different things or the same? Other than this, I am ready to submit a pull request

[2016-01-16 00:41] digistump commented on #3
@danielmawhirter they should all read with "spark" at the front of the variable name - just grabbed this from my notes and an old build and didn't realize they didn't match, sorry about that!

[2016-01-16 01:05] digistump commented on #3
Closing this as @danielmawhirter has won the bounty

[2016-01-16 01:05] #3 closed

[2016-01-16 01:09] digistump commented on #1
Thanks again @povrazor - closing this.

[2016-01-16 01:09] #1 closed

[2016-01-17 22:50] digistump opened #7 "BOUNTY: Shield Tutorials"
**Skills:** A good digital camera or phone camera (iPhone 6 quality or better), basic photography/lighting skills, basic tutorial writing, basic soldering
**Difficulty:** Easy to moderate with the above skills, depending on the kit.

## Procedure

- Select a tutorial that is not yet written (red links):  http://digistump.com/wiki/oak
- Confirm you have that kit and that you know how to assemble it

[2016-01-17 23:46] TheDarkTerminal commented on #7
Hey Erik,

I am very keen on your products and have already received my oak. I would love to participate with writing up tutorials for shields. I have professional lighting equipment and a Canon DSLR, a lot of knowledge about shields for Arduinos and other products such as yours. I selected a cheaper backer plan as before trying out shields I wanted an actual bade product first and see if I would

[2016-01-18 00:05] digistump commented on #7
@TheDarkTerminal - thanks for the awesome offer - no doubt an arrangement like that would be ideal for  getting some very high quality tutorials when things aren't so urgent. The two main priorities for these though, is getting tutorials up quickly (otherwise I'll do them in the next day or three) and engaging the community as much as possible. I'd love to take you up on your offer in the future,

[2016-01-18 00:16] TheDarkTerminal commented on #7
Ah sure thing Erik! I had thought of urgency as being a drawback to my offer but if you want some high quality tutorials done in the future for possible new shields that you might bring out then feel free to mail one and I'll get it done for you! Working to create communities and working with them for an awesome product is enough of a bounty for me, but writing tutorials would be great as I've a b

[2016-01-18 00:17] briankb commented on #7
Erik, I have the beta kit and will do the proto shield tutorial. I'm assuming it will use a lot of the existing content for the Digispark Proto shield as they will be almost identical except for the PCB.

Is there something specific you want done with the Oak Proto Shield other than the male headers?

[2016-01-18 02:53] briankb commented on #7
Oak Prototype Shield tutorial completed, photos are attached. Hopefully the image names and links on the wiki page are correct, they should be.
[Oak_Proto_Shield_Pics.zip](https://github.com/digistump/OakCore/files/93779/Oak_Proto_Shield_Pics.zip)

[2016-01-18 02:59] digistump commented on #7
@briankb - Excellent, looks great - thank you! I've removed the Proto Shield from the list, and you have claimed the bounty. Please email me at support@digistump.com to claim it and let me know if you want Oaks or Credit - if you plan to do more of these then feel free to email me after you've done all you plan to and I can then give you one big credit or shipment of Oaks (or some of both)

Thank

[2016-01-19 00:50] digistump opened #8 "Test SDCard library"

[2016-01-19 00:50] digistump opened #9 "Test Servo Library"

[2016-01-19 01:18] digistump opened #10 "Build OakCLI for Linux32, Linux64, OSX"
See digistump/OakCLI#1

[2016-01-19 02:36] digistump opened #11 "Build esptool2 for Linux32, Linux64, OSX"
Builds with gcc, no external dependencies - if anyone has a chance to build on these platforms and upload it would be much appreciated.

Clone or download https://github.com/raburton/esptool2
"make"

Upload resulting binary here.

[2016-01-19 02:38] CompyENG commented on #11
As requested, for Linux64 :smile: [esptool2.zip](https://github.com/digistump/OakCore/files/95252/esptool2.zip)

[2016-01-19 02:41] digistump commented on #11
thanks again @TrueJournals

[2016-01-19 02:43] DarkLotus commented on #11
[esptool2.zip](https://github.com/digistump/OakCore/files/95257/esptool2.zip)
Compiled on osx10.10

[2016-01-19 08:01] DarkLotus commented on #11
[esptool2-linux32.zip](https://github.com/digistump/OakCore/files/95523/esptool2-linux32.zip)
linux 32 version.

[2016-01-20 10:49] digistump opened #12 "Reduce RAM usage after init"
Read device vars to there own vars in init, and the release the deviceConfig buffer
we only write config near boot time for ota_update, and in setup
for write config, load it, change it, write it, release

[2016-01-22 10:54] digistump commented on #11
Thank you both - this was a huge help in getting the first release out tonight!

[2016-01-22 10:54] #11 closed

[2016-01-22 10:54] #10 closed

[2016-01-22 13:37] TomKeddie opened #13 "Minor doco inconsistency"
The example at http://digistump.com/wiki/oak/tutorials/arduino uses delay()

The notes at https://github.com/digistump/OakCore/blob/master/README.md state "You MUST use Particle.delay() in place of delay()".

[2016-01-22 13:46] TomKeddie opened #14 "Exec permissions missing from esptool2 on osx"
When compiling on osx with 1.6.6 and oak 0.9.0 I see esptool has the wrong permissions to execute.

`"/Users/tom/Library/Arduino15/packages/digistump/tools/esptool2/0.9.0/esptool2" -quiet -bin -boot2 -4096 -iromchksum "/var/folders/2b/ky7slbm110s6pfjkkfgm6nsh0000gn/T/build98cd95de6f0c5f5844eaaa866b983d69.tmp/blink.ino.elf" "/var/folders/2b/ky7slbm110s6pfjkkfgm6nsh0000gn/T/build98cd95de6f0c5f5844ea

[2016-01-22 14:02] TomKeddie commented on #14
Same issue for oak binary.

`tomk-macbook-pro:vhs-nomos tom$ ls -al /Users/tom/Library/Arduino15/packages/digistump/tools/oakcli/0.9.0/oak
-rw-r--r--+ 1 tom  staff  19526676 21 Jan 23:19 /Users/tom/Library/Arduino15/packages/digistump/tools/oakcli/0.9.0/oak`

[2016-01-23 09:14] digistump commented on #13
thanks - fixed

[2016-01-23 09:14] #13 closed

[2016-01-23 09:15] digistump opened #15 "Make OakCLI tool block until upload is complete"
Particle doesn't provide upload progress when doing an OTA flash, but we can see what the upload to the device is complete and knowing that would make it much easier to know what is going on.

[2016-01-24 07:42] DarkLotus opened #16 "Fatal Exception 28"
Ran Wifi Config, connected to cloud, received update.
confirmed update with /system-version

I wiped out my 0.9 in ardunio and installed 0.9.1.

Built blink sample with Particle.delay. Flashed over the cloud then

Fatal exception (28):
epc1=0x40001800, epc2=0x00000000, epc3=0x00000000, excvaddr=0x00637ff0, depc=0x00000000

I grabbed the boot output as well which is as follows:

 ets Jan  8 2013,rs

[2016-01-24 08:39] DarkLotus commented on #16
Okay i read the oakboot source.

Grounding pin 10 it boots with N,BU,0 instead of N,BP,0

which i hadnt noticed before.

But then it spams Fatal 28 the same as above since its loading the same rom i guess.

[2016-01-24 13:47] TheDarkTerminal commented on #7
@digistump Hey Erik,

Just a reminder in case you still need shield tutorials done. I'm still offering my offer and would love to help make some tutorials. My Oak board is fully functioning now and if you'd like to send me a shield or two, I could get the tutorials done within a couple days of receiving them :)

Hope your family is well, and great job on the firmware!

Tom

[2016-01-24 20:16] digistump commented on #16
Anyone getting a Fatal Exception error after successfully connecting to Particle and trying to upload a sketch, if you can please do the following, the more people who can do this the better I can diagnose the issue (as I haven't been able to reproduce yet):

1) Make sure you have python installed and in your path and a serial adapter to connect your Oak.
2) Grab an unzip this script: https://gith

[2016-01-24 20:22] digistump commented on #16
Also if anyone seeing this error wants to try this - unzip the file attached to this and put it in the same folder as esptool.py from the post above this.

Follow 1-3 above then run the command "esptool.py --baud 115200 --port COMX write_flash -fs 32m 0x3fc000 blank.bin 0x3fd000 blank.bin 0x3fe000 blank.bin 0x3ff000 blank.bin"

Please do a flash dump per above first, then try that, and let me know

[2016-01-24 21:33] nkildal commented on #16
Hi Erik

My Oak is spamming with Fatal 28 exceptions when I power it up (also with pin 10 grounded)
Trying to dump from it, but I get the following:

MacBook-Pro-2:Oak_debug nicolai$ ./esptool.py --baud 115200 --port /dev/tty.SLAB_USBtoUART read_flash 0x000000 0x300000 flash_dump.bin
Connecting...
A fatal error occurred: Failed to connect to ESP8266

I also tried grounding pin10 before applying po

[2016-01-24 22:07] digistump commented on #16
@nkildal Sorry - I missed an important part in my instructions - please connect Pin 2 to GND and then power up and dump the flash - same for writing files to flash - this puts the device in the serial bootloader mode - you'll need to power cycle it after a write or dump to put it back in the serial bootloader mode again.

[2016-01-24 22:19] nkildal commented on #16
No problem - it worked!
I've attached my dump file.

Removed for security reasons.

[2016-01-24 22:24] digistump commented on #16
Thanks @nkildal - if you don't mind trying the possible fix (it's a bit of a shot in the dark, but won't disable the Oak any further) - I'd love to hear if it works for you, I'll take a deep look at the dump file later today or first thing tomorrow, but at a glance nothing obvious yet.

[2016-01-24 22:31] nkildal commented on #16
I tried writing the blank.bin file:

[code]

Powering down and up again, gives me repeating fatal (28) exceptions on serial...

[2016-01-24 22:46] digistump commented on #16
Looks like the final one failed @nkildal - can you try just this:

esptool.py --baud 115200 --port COMX write_flash -fs 32m 0x3ff000 blank.bin

[2016-01-24 22:47] nkildal commented on #16
Here goes:

[code]

[2016-01-24 22:48] digistump commented on #16
And a little more background - what we're trying here is blanking out where the Oak stores wifi config data - not the SSID and passcode which is saved in the particle config area and CRCed on save, but the data it uses to reconnect quickly to a known good network - it is the one area I have no control over as it is written inside the ESP8266 SDK, which is why I suspect it might be at fault.

[2016-01-24 22:54] digistump commented on #16
[blank2.zip](https://github.com/digistump/OakCore/files/102592/blank2.zip)
Hmm @nkildal  - how about this file with

esptool.py --baud 115200 --port COMX write_flash -fs 32m 0x3fe000 blank2.bin

If that doesn't work I'll hold off on any more hunches until I successfully reproduce the issue so I can test locally.

If that doesn't work - if you don't mind doing a full dump (the one before was only t

[2016-01-24 23:02] nkildal commented on #16
Ok - tried blank2.bin:

[code]

Disconnecting power, removing GND on pin2 and powering up again, still gives me a steady green light - serial console still shows scrolling fatal exception 28 :-(

I'll go ahead and produce a full dump, and send it to you in an email - I have no issues sending you the data - just happy to help out :-)

[2016-01-24 23:03] digistump commented on #16
Awesome @nkildal - thanks again - next chance I get I will try loading it into an oak and see if I can reproduce

[2016-01-25 01:28] DarkLotus commented on #16
Here is a dump of mine as well, wifi passwords are for suckers, so nothing personal in here.

My AP it "should" be connected to is called "KKLOLK"
Another AP within range is called "belkin.743c" and the third one in range is "Speedweb" something

I noticed at offset 0x100B1D and 0x200B1D there is a string "KKLOLK.743c" which seems strange?
[flash_dump_full.zip](https://github.com/digistump/OakCore

[2016-01-25 02:14] digistump commented on #16
Awesome - thanks! @DarkLotus

I wouldn't advise moving a dump from one to the other - you could dump a good one from 0x0 to 0x201000 and then replace the device ID's with the ones from this dump - you'll find them just past 0x100000 and 0x200000 but ymmv

[2016-01-25 06:00] DarkLotus commented on #16
think ill wait, i dumped a good firmware and there is quite a few differences apart from the user rom sections.

[2016-01-26 03:44] digistump commented on #16
@DarkLotus Would you mind compiling and uploading the bin file produced by the same Blink example you flashed with Arduino IDE - hit "Verify" instead of "Compile" and then grab the path to the bin file from the output at the bottom of the window. (You may need to turn on Verbose compiling in the preferences). I've got a way to fix the bricked units, and some ways to avoid this from bricking units,

[2016-01-26 04:05] DarkLotus commented on #16
[sketch_jan22a.cpp.zip](https://github.com/digistump/OakCore/files/104426/sketch_jan22a.cpp.zip)
Here you go. built with the same ardunio / oaktools etc install as what killed mine.

[2016-01-26 04:11] DarkLotus commented on #16
Comparing my bad bin to the sketch bin, its byte for byte there. so my compiled sketch must be bad?

[2016-01-26 05:11] digistump commented on #16
@DarkLotus yes that's exactly what I'm thinking - what OS was this compiled on?

Mind also uping the exact sketch and the .elf file from the same folder as the bin? - I'll compile the sketch and compare, and the elf can be used to disassemble and see where the error occurs

[2016-01-26 06:02] digistump commented on #16
@nkildal - What OS were you using? Any chance you can upload the sketch, bin and elf as requested of @DarkLotus above?

Thank you both for helping unravel this mystery!

[2016-01-26 06:17] nkildal commented on #16
@Erik: I'd love to, but it has to wait until I get home from work in about 8 hours - 7:15AM here in Denmark :-)
If you've not fixed the issue by then, I'll upload the files as soon as I get home.
My OS is Mac OSX El Capitan 10.11.

The sketch was the blink example with the two Particle.delay() lines..

[2016-01-26 06:19] digistump commented on #16
@nkildal - thanks! that is actually all I need to know, there is a very definite pattern developing here - if @DarkLotus says he is on OSX and even more so if he was on El Cap - then 100% of people who have written to me with this issue are on El Cap

[2016-01-26 06:34] DarkLotus commented on #16
Compiled on Linux x64, Ardunio 1.6.5

[sketch_jan22a.elf.zip](https://github.com/digistump/OakCore/files/104513/sketch_jan22a.elf.zip)
void setup() {
  // initialize the digital pin as an output.
  pinMode(1, OUTPUT); //LED on Model A
}

// the loop routine runs over and over again forever:
void loop() {
  digitalWrite(1, HIGH);   // turn the LED on (HIGH is the voltage level)
  Particle.delay(400

[2016-01-26 07:26] ripred commented on #16
@Erik: Can confirm, once Nicolai Kildal and I found some issues with oak.js via comments on the KS comment section on OS X (me El Capitan 10.11.3) and I initiated the upload of my first sketch, it was bricked after that.  My serial adapter is still somewhere in a box from my move from California so haven't been able to contribute to this thread.  But yes, El Cap here.  Firmware upgrade seemed to g

[2016-01-26 11:44] digistump commented on #16
@ripred - Thanks for the info!

@DarkLotus, @nkildal

Here is what I've figured out this far, in case any of you are interested in the details:
1) Compiling on Windows vs OSX and Linux 64 produces a very different bin file. (Unconfirmed but given that I developed on Linux32 as well, Linux32 may produce something similar to Windows)
2) The differences are from compilation - not related to esptool2

[2016-01-26 12:09] digistump commented on #16
I thought I'd add a bounty on this - in case someone wants to figure it out before I get back to it tomorrow.

TASK:
Figure out why sketches compiled on OSX/Linux64 are failing with an exception loop and implement a fix.

HOW TO TEST:

Manually upload the bin file created when you compile the sketch, using the following command (blank.bin is attached:
[blank.zip](https://github.com/digistump/OakCo

[2016-01-26 13:11] DarkLotus commented on #16
Just to let you know your on the right track, i flashed the same sketch from windows. and my dead oak is back to life. You missed the blank.bin, but if anyone wants to follow the above, you want a 4kb blank.bin
[blank.zip](https://github.com/digistump/OakCore/files/104924/blank.zip)

[2016-01-26 16:36] DarkLotus commented on #16
Played around with it for a few hours, even tried using o's from windows and just doing >elf > bin on linux. still no go. Sleep time here. Good luck who ever works it out while i sleep :p

[2016-01-27 01:30] digistump commented on #16
@DarkLotus - when you used the o's from windows did you grab all of the o's and build the arduino.ar on OSX or did you grab the arduino.ar from windows as well and just run the final linker command on OSX?

[2016-01-27 01:32] DarkLotus commented on #16
So i just woke up, and i've a working firmware built on linux x64
Just moving the o's didnt work, but I just tried with all the o's and ardunio.ar and it works!

I moved everything from a windows build except the .d's and .cpp's then re ran compile in ardunio and I get matching size of the windows build and it works after flashing it.

[2016-01-27 01:38] digistump commented on #16
Interesting - so either the issue is introduced by xtensa-lx106-elf-ar or it is one of the o files and by not bringing over the arduino.ar, arduino was using the arduino.ar it made locally from a previous compile

[2016-01-27 01:41] digistump commented on #16
I guess the way to test this would be to grab all the xtensa-lx106-elf-ar commands and the final gcc command, empty the folder and only put the windows o's in it and then run those commands to make the arduino.ar and then .elf from command line to ensure Arduino doesn't rebuild/replace anything

[2016-01-27 01:56] DarkLotus commented on #16
which works, it's some where before linking i think? Best example is
void ParticleProcess(void) is being stripped when built on linux, but is in there when using windows .o's

[2016-01-27 02:07] DarkLotus commented on #16
Replacing -Os with -O in oak platform.txt appears to work! Just flashed and shes working!
ParticleProcess is no longer optimized away.
Will test more incase im jumping the gun here, but maybe its just one of the flags enabled by -Os

[2016-01-27 02:08] digistump commented on #16
hmm - probably not coincidentally ParticleProcess is declared as C function, instead of C++

ParticleProcess isn't actually necessary any more - in core_esp8266_main.cpp it could be replaced by Particle.process(); and then removed from the top of OakParticle.cpp and bottom of OakParticle.h - I wonder if that was the whole cause and removing it would allow -Os to work, or if it was just an indicato

[2016-01-27 02:10] digistump commented on #16
was mid comment when I saw yours - Awesome! do you mind trying my last suggestion? I will (I've been testing in OSX which seems to mirror the behavior), but I'm on the shipping line right now and not near my mac

[2016-01-27 02:33] DarkLotus commented on #16
Didnt solve it :(
Works with -O2 though ( with or without the Particle.process()  change )

Not sure where to go from here so im going to try building a newer version of the xtensa toolchain.

Probably more to discover via Ida, but i dont know any of the ARM assembly, can barely do math in x86 assembly -_-

[2016-01-27 02:51] ripred commented on #16
@digistump, @DarkLotus As a certified nerd and code junkie I find this conversation immensely enjoyable from a forensics/debugging perspective :-).  Q: Would you feel comfortable putting up a publicly testable version with -O or -O2 in place and then work backwards offline to make it more optimized?  Also curious if this is the same issue a few are facing w/windows 10.  Or is this just a matter of

[2016-01-27 03:07] DarkLotus commented on #16
To test your self you just need to edit the /packages/digistump/hardware/oak/0.9.1/platform.txt
file and change the compiler flags in there, three occurrences to change. Then just verify / compile in arduino IDE like normal to create your bin.

[linux Os O2.zip](https://github.com/digistump/OakCore/files/106014/linux.Os.O2.zip) bins

[elfs.zip](https://github.com/digistump/OakCore/files/106016/elf

[2016-01-27 03:13] ripred commented on #16
@DarkLotus: Excellent thanks for the info and the zip.  About to attempt the change (measuring 5 times before I cut :-) ) and then trying with a fresh Oak.

Thanks again

[2016-01-27 03:42] DarkLotus commented on #16
Built the xtensa tool chain from https://github.com/jcmvbkbc/crosstool-NG/tree/feb1fb829d5cb4f8739e488cbd2f0b72304705bb

-O2 works still so i assume i built correct.
-Os does not work still, no fatal exception 28, just bootloader loops.
bin's are different sizes compared to the default xtensa toolchain as well at either optimization level.

Im out of ideas for now i think :(

Maybe losing -Os woul

[2016-01-27 03:49] ripred commented on #16
I can't test with a fresh Oak as the Particle registration and/or firmware download seems to be disabled at the moment.  Looking hopeful though from the comments!

[2016-01-27 04:06] DarkLotus commented on #16
Yeah probably best to wait a little longer till its sorted out, and yes firmware update is disabled at the moment, as if you flash a bad rom you currently need to re flash via Serial, not the Particle OTA way.

Since im out of ideas im trying the xtensa toolchain from master rather than commit #feb1fb8 as used in the esp-open-sdk which i tried earlier.

No go still, using latest xtensa #g1fbfd12 o

[2016-01-27 04:44] digistump commented on #16
E,BU,0 (Exception,Booting Updater,Rom 0) would mean it is encountering an exception, probably very early in the binary if it doesn't get far enough into throw a proper exception message.

Maybe a different approach would be to build -Os but disable optimizations that -O2 disables or the other way around build -O2 and enable optimizations -Os enables until the one that causes the fault is found - c

[2016-01-27 04:57] DarkLotus commented on #16
yeah -02 works on windows, I have not tried -01 bt i assume will work on either as it's less intensive than -O2.

i've been trying to track down which optimizations are on / off for -Os and -O2 but havent been able to work out a definitive list of whats on / off.

Im about to try the gcc5.2 branch of xtensa and see if that makes any difference, then try optimizations one at a time maybe -_-

_edit

[2016-01-27 05:44] digistump commented on #16
@DarkLotus - thanks for all your efforts on this, and certainly don't let it keep you from real work!

I think you've definitely won the bounty as using -O2 "fixes" it - but I appreciate any further you can narrow it down.

Send me an email at support@digistump.com whenever you'd like to claim it, and let me know which prize form you'd like.

Thanks again!

[2016-01-27 05:44] digistump commented on #16
oh one thought - have you tried OSX? If not someone better try that before we call it fixed - I can tomorrow if no one beats me to it.

[2016-01-27 09:41] DarkLotus commented on #16
Can confirm -O2 works on OSX 10.10, Windows 10 x64 and Linux x64. i dont have a GUI install of a 32 bit linux to test on that though.

Been playing with disabling different optimizations, no luck.

[2016-01-27 10:33] DarkLotus commented on #16
Another update, only tested this on linux x64 but it appears to work ONLY changing compiler.cpp.flags to -O2.
c.flags and c.elf.flags can stay as -Os

[2016-01-27 18:18] ajpowell commented on #16
I have been reading this with interest - have been able to connect using esptool.py to my devices, but I am getting more consistent results from my desktop running Yosemite 10.10.5, than my laptop running El Capitan 10.11.2.

Was able to upload blank.bin and blank2.bin on 10.10.5...problems from 10.11.2 - I am able to connect using CoolTerm (using a Arduino USB2Serial) to see the Fatal Exception 2

[2016-01-27 18:52] nkildal commented on #16
I have also been following this with interest :smile:

I just tried the following - also on OSX El Capitan (10.11):

Changed compiler flags (all 3) from -Os to -O2, recompiled the blink example, uploaded to my Oak using esptool.py.
On the terminal I still have exceptions, but they now look different.

Before (using -Os flags):

[code]

Now (using -O2 flags):

[code]

Does that make any sense?
I ha

[2016-01-27 20:44] digistump opened #17 "In progress"
These are currently just notes for my own use - but please feel free to contribute

**Changes to OTA process:**
- [x] Debug and implement FastOTA - if not fast enough consider external https push (update function registered on device, oakcli pushes to web, web calls function?)
- [ ] Work out system updates on Particle end
- [x] Change to constant blink during update (might not need once FastOTA)
-

[2016-01-27 21:01] digistump commented on #16
@ajpowell @nkildal - thank you both for testing this! @nkildal - if you don't mind, can you try compiling and uploading the same sketch on another platform? to confirm that your Oak is otherwise working?

[2016-01-27 21:05] nkildal commented on #16
@Erik:
Yes - I'll try on Windows 10 in a minute.
Just to make sure I'm using the correct esptool.py syntax - this is what I'm doing to flash the Oak:

[code]

Is this still correct?

[2016-01-27 21:06] digistump commented on #16
@nkildal  yep that is correct - the blanks clear any bootloader setting so it boots to rom 0 in all cases, and the bin is written to the rom 0 slot

thanks!

[2016-01-27 22:17] nkildal commented on #16
Hmm - I think esptool.py is behaving weird - clearly only part of the bin file is flashed:

[code]

[2016-01-27 22:37] erik commented on #16
@nkildal you probably want to ping @digistump, not @erik

:smile:

[2016-01-27 22:51] ajpowell commented on #16
Agree that OS X El Capitan 10.11 is acting strangely, though not able to find anything specific on the web...

Anyway, what I am seeing is:

OS X El Capitan 10.11.3 - just upgraded from .2 to .3 as I saw it was available - thought it might help...but not for this problem :(

[code]

OS X Yosemite 10.10.5 - moving the USB connection over to machine running Yosemite, it immediately worked:

[code]

[2016-01-27 23:32] nkildal commented on #16
Ah - sorry erik :-)

@ajpowell:
I am running 10.11.3 - your topmost esptool error looks like it may be a communication problem?

@digistump:
I finally got some progress flashing an OSX generated bin file from Windows 10.

I compiled the blink sketch on OSX El Capitan 10.11.3 and then transferred the bin file to a Windows 10 machine, where I then flashed my Oak.
I tried various combinations of c, c

[2016-01-27 23:36] DarkLotus commented on #16
Morning all!

@ajpowell Are you sure you have a stable connection? I know to begin with i had some dodgy soldering on one of my ground pins and getting into serial flash mode was hit and miss.

@nkildal Glad to hear it worked for you, Looks like we can confirm -O2 as working on all platforms then, for the blink example anyway.

Interesting that just -O2 on cpp works for linux, but osx needs all th

[2016-01-28 02:34] digistump commented on #16
Github is back!

@nkildal - Did you completely exit and restart Arduino IDE between changes to the -O flags? Just a recompile won't force it to refresh the platforms.txt data.

Building a new beta firmware with -O2 on all three for now - but I agree @DarkLotus , something bigger seems to be going on here.

[2016-01-28 05:48] digistump commented on #16
Instruction for restoring Oak to factory: http://github.com/digistump/OakRestore

[2016-01-28 07:00] digistump commented on #14
Fixed in latest release

[2016-01-28 07:00] #14 closed

[2016-01-28 07:50] nkildal commented on #16
@digistump - hmm no I did not restart the IDE between the changes - I do however see different file sizes for the bin files.

Well - I also feel something bigger is going on, so I'll stop fooling around and instead try to use your factory restore instructions on my 2 of my 3 Oaks tonight, making sure the serial adapter and power conditions are optimal..

[2016-01-28 09:15] ajpowell commented on #16
@DarkLotus - loose connection could be the problem - currently have the Oak connected via some headers in a breadboard - I'll try soldering those tonight when I get home - however, when I transferred my usb connector between systems, I'm pretty sure the breadboard didn't get moved - I'll let you know how I get on.

[2016-01-28 11:12] digistump commented on #16
@nkildal - interesting, I guess I'm wrong about it - it must only be boards.txt that requires a restart to update, often deciphering how the Arduino IDE does things takes a bit of magic! (or reading java sources)

Thanks - let me know how the factory restore goes!

[2016-01-28 11:13] digistump commented on #16
New beta test release: https://github.com/digistump/OakCore/releases/tag/0.9.2

@DarkLotus @ajpowell @nkildal @ripred

[2016-01-28 11:14] digistump opened #18 "Make wiki about bootloader modes, recovery modes, config mode"
Conditions for entering wifi config:
WiFi configuration is missing or corrupted.
Still cannot connect to WiFi (not Particle, but WiFi) after 5 consecutive tries - aka no internet available.
OTA Update Failed - either the update itself failed, or the newly booted ROM failed.
There is no User ROM or User ROM is invalid/corrupt.
Pin 1 or 6 held LOW during boot (selectable at compile time).

[2016-01-28 11:28] ajpowell commented on #16
@digistump - Thanks - Will try this tonight when I get home.

[2016-01-28 13:45] DarkLotus commented on #16
Past midnight here so i cant test any further tonight but testing with a fresh oak.
Run SoftAP, Oak reboots, appears to grab firmware (15 secs of fast flashing), never connects to particle though.
Re ran setup a few times without any change in behaviour. Will get some Serial logs in the morning.

[2016-01-28 17:19] Lazarus9000 opened #19 "Board not recognized by Arduino"
Finally got one of my units to finish wifi config, updated the Arduino files but if I try to upload is fails with the error below:

Arduino: 1.6.7 (Windows 7), Board: "Oak by Digistump, 80 MHz, Particle OTA, OAK (4M/1M SPIFFS), Single - 1MB (Fullsize)"

Board oak (platform oak, package digistump) is unknown

Error compiling.

[2016-01-28 17:51] cpetito commented on #16
@digistump - I updated the Arduino IDE to 0.9.2 and now get the following error while trying to compile the simple blink sketch:

Arduino: 1.6.7 (Windows Vista), Board: "Oak by Digistump, 80 MHz, Particle OTA, OAK (4M/1M SPIFFS), Single - 1MB (Fullsize)"
--- snip ---
Board oak (platform oak, package digistump) is unknown
Error compiling.

Any thoughts as to how to investigate/correct this issue?

[2016-01-28 17:54] nkildal commented on #16
@digistump - Good news!

2 previously bricked Oaks successfully restored to fresh working order, using the method described in http://github.com/digistump/OakRestore

Everything done from my Mac, running El Capitan 10.11.3.
Oaks power supplied using 2A wall wart - programmed using serial TTL adapter with GNS/TX/RX connected to Oaks.

Next step: programming using Arduino IDE :-)

[2016-01-28 18:04] nkildal commented on #16
Did the following (all steps on Mac OS X El Capitan 10.11.3):
1. shut down the Arduino IDE
2. deleted the  ~/Library/Arduino15 directory
3. started the Arduino IDE
4. added "http://digistump.com/package_digistump_index.json" as additional board manager url in preferences
5. tried to the Digistump Oak board in the boards manager

It failed showing this error message:

[code]

Had a look inside the

[2016-01-28 18:12] nkildal commented on #16
I seem to be unable to flash my Oaks via the Particle cloud.
Configuring the "oak" binary - entering my user/pass and selecting the destination Oak - woks fine.
The upload and flash start seems to also work, but nothing happens on my Oaks:

[code]

Is the cloud functionality disabled, while we debug?

[2016-01-28 18:45] digistump commented on #16
@nkildal - thanks for the tip on the oakcli - I will get that fixed

The ones you are trying to do the OTA with - did you go back through the initial setup process to download the update with them? You will need to do that before they can be flash over OTA - to do so just plug them in and do "I'm just configuring the wifi" but watch the LED, if it only blinks fast for a few seconds you'll need to

[2016-01-28 18:46] digistump commented on #16
@cpetito - looking into it now, its working on windows for me, but trying a fresh install - will follow up on it here #19

[2016-01-28 18:48] nkildal commented on #16
Well  - actually my Oaks did not seem to want to register on the cloud, so:
I did another factory restore of one Oak, then went to http://build.particle.io and removed both oaks.
Followed the procedure at http://rawgit.com/digistump/OakSoftAP/master/config.html, registering a new device. Firmware seemed to download (rapid blinks for minute or so), but the Oak never show up in the Particle cloud an

[2016-01-28 18:50] digistump commented on #16
That sounds like the perfect procedure and your serial log is as expected - it is booting to the updated firmware at location 8

what do you get at 192.168.0.1/particle - when connected to the Oak AP of course

[2016-01-28 19:02] nkildal commented on #16
Hmm - I can't seem to make it boot into AP mode - connecting pin 10 to GND and applying power gives this output on the serial console at 74880 baud:

[code]

I can see it connects to my wifi and grabs an IP address - just like when booting normally (without pin 10 grounded).
Browsing to this ip on /particle gives me nothing - seems like no web server is running:

[code]

[2016-01-28 19:09] nkildal commented on #16
Just did a factory restore on my other Oak - connected to the Oak AP.
Now http://192.168.0.1/particle gives me:

[code]

[2016-01-28 19:51] nkildal opened #20 "Board not registering on Particle cloud"
Moved from #16

I did another factory restore of one Oak, then went to http://build.particle.io and removed both oaks.
Followed the procedure at http://rawgit.com/digistump/OakSoftAP/master/config.html, registering a new device. Firmware seemed to download (rapid blinks for minute or so), but the Oak never show up in the Particle cloud and the SoftAP never verified it.
Boot messages on serial (748

[2016-01-28 19:54] nkildal commented on #20
Ok - got my Oak into AP mode, by denying its mac address in my Wifi router and rebooting it :-)

Connecting to http://192.168.0.1/particle now gives me:

[code]

http://192.168.0.1/info gives me:

[code]

(my json formatting)

[2016-01-28 20:09] digistump commented on #20
So it is updated - strange

With the MAC not blocked can you power cycle and then try claiming it via the build.particle.io add device box?

[2016-01-28 20:21] digistump commented on #19
From what I'm reading - This is a known issue with Arduino IDE 1.6.6 and higher, I can confirm it does not always occur nor does it ever occur on 1.6.5. Fastest solution is to delete the oak stuff at:  C:\Users\YOUR_USERNAME\AppData\Roaming\Arduino15\packages\digistump\hardware\oak

[2016-01-28 20:21] #19 closed

[2016-01-28 20:38] nkildal commented on #20
I get a "could not claim device":

![particle io claim](https://cloud.githubusercontent.com/assets/16869058/12658079/2b9d938a-c607-11e5-9c36-4b7445b57947.png)

[2016-01-28 21:04] nkildal commented on #20
@digistump:
Just tried claiming the other Oak - unfortunately same error message...

These 2 Oaks has previously both been registered in the particle cloud - but has both been reset to factory settings, removed from the particle cloud (using remove device in the web interface at build.particle.io)...

[2016-01-28 21:15] digistump commented on #20
updated bin files and procedures here: https://github.com/digistump/OakRestore/

feel free to test, as it won't hurt anything, but I haven't tested fully yet as I'm on the road at the moment - I'll post back once I get to test tonight.

thanks!

[2016-01-28 21:34] nkildal commented on #20
Just tested your new restore procedure - it worked!
Great job Erik - all my Oaks are now registered with the particle cloud.
Now - on to testing some Arduino code :smile:
Thanks a lot!

[2016-01-28 21:46] #20 closed

[2016-01-28 22:39] ajpowell commented on #16
@digistump - I updated the Arduino IDE ion a similar way to @nkildal, but didn't get an error - checking /staging/packages, I see that oakcli-0.9.1.zip only contains 0.9.1/oak...so I guess you have already updated that - great!  Should that not be 0.9.2?  Though Boards Manager does show that 0.9.2 is deployed...

Needed to check I'd got the correct Oak selected, so went to the deployed copy of oak

[2016-01-28 23:26] nkildal commented on #16
@digistump - I'd just like to add to @ajpowell:
After having gone through several OakRestore experiments - finally getting all my Oaks registered on Particle - I have also been experimenting with OTA deployment.
Everything seems to work just fine.
I tested both the classic Oak blink sketch - but also tested a sketch using "Blynk" to control the pins of the Oak - success!

Also done for tonight :sm

[2016-01-29 01:07] DarkLotus commented on #20
Just wanted to report all working well on my end as well, tested out on my oak that had been claimed previously.

[2016-01-29 01:10] DarkLotus commented on #16
Just wanted to report all working on my end as well since trying it this morning.

Fresh Oak, Updated, Clouded, then OTA flashed. All smooth as silk :)

[2016-01-29 01:21] PhillyNJ opened #21 "Arduino Libraries do not download to Arduino IDE"
Ok, I am following the directions here- > https://github.com/digistump/OakCore/releases/tag/0.9.2 which tells me to also use http://digistump.com/wiki/oak/tutorials/arduino to set up the Arduino Libraries and Boards. I follow the directions. 1st issue: The step says "Select the “Digistump Oak and Acorn” package and click the “Install” button." but its actually called "Oak by Digistump By Digistump

[2016-01-29 01:25] DarkLotus commented on #21
Board definitions dont go in the same libraries folder as other libraries as far as i know, they can be found at
/Users/YOURNAME/Library/Arduino15/packages/digistump/hardware/oak/

No examples currently bundled but just use the example sketch listed near the bottom on http://digistump.com/wiki/oak/tutorials/arduino

If your board is showing up online in particle then you should be able to upload t

[2016-01-29 01:37] PhillyNJ commented on #21
Thanks but I get the following error:

"Board oak (platform oak, package digistump) is unknown

Error compiling."

[2016-01-29 01:45] DarkLotus commented on #21
Which version of OSX are you on if you dont mind me asking?
and which version of Arduino?

[2016-01-29 01:46] PhillyNJ commented on #21
OSX EL Capitan.

[2016-01-29 01:51] DarkLotus commented on #21
You might need to wipe out your Arduino Libraries folder and begin again.
https://esp8266hints.wordpress.com/2015/12/03/arduino-ide-revision-1-6-6/
Implies this issue is caused if you have ran 1.6.5 than upgraded to 1.6.6 or 1.6.7 which seem to have some incomaptibilites with older settings.

[2016-01-29 02:23] PhillyNJ commented on #21
There is no way I am wiping out my library. I will throw these oaks in the trash first. As a note, I follow the directions on my windows 10 and I am able to upload a sketch via the IDE... The oak lives another day...

[2016-01-29 02:33] DarkLotus commented on #21
Glad you got it working on windows.
The issue your seeing is IDE related not just limited to the Oak, You can read yet more about the issue here https://github.com/esp8266/Arduino/issues/973

Seems to be confined to pre 1.6.5 installs upgraded to 1.6.6+

[2016-01-29 08:21] haakonnessjoen commented on #16
All working here too. But I still had to chmod +x the tool-binaries in Arduino. (I'm running OS X Yosemite)

Also, I could not save the oakcli-settings with the binary downloaded from the link in the wiki. I had to use the binary that came with the latest arduino-oak-board files. After using that one, it saved the config to the correct file, and OTA worked fine.

Although the wiki said the firmwar

[2016-01-29 10:03] digistump commented on #16
Fixing the executable permissions now, by switching to using tar.gz for OSX packages

I've updated the wiki links to point to the right oakcli

Glad it is working for most(?) who try it now! Thanks for testing!

[2016-01-29 10:06] digistump commented on #21
Just to be completely clear and expand on what @DarkLotus said -

"Board oak (platform oak, package digistump) is unknown"

That error is caused by a known issue with the Arduino IDE, the fact that the issue is showing up when you install the Oak has nothing to do with the Oak and we can't do anything about it except offer advice as @DarkLotus did. It could happen with any board package you instal

[2016-01-29 10:13] #21 closed

[2016-01-30 21:02] ajpowell opened #22 "OneWire Library - #error "Please define I/O register types here""
When compiling code (modified form of supplied example code DS18x20_Temperature - changed to use Particle.delay() rather than delay()), I get the following error:

    Arduino: 1.6.7 (Mac OS X), Board: "Oak by Digistump, 80 MHz, Particle OTA, OAK (4M/1M SPIFFS), Single - 1MB (Fullsize)"

    In file included from /Users/apowell/Documents/Arduino/oak_1wire_ds18b20/oak_1wire_ds18b20.ino:1:0:
    /Us

[2016-01-31 00:14] ajpowell commented on #16
Been playing around some code and created a few simple code examples earlier today - plan to create more as I explore the oak device and particle - putting the code here for now https://github.com/ajpowell/OakSamples - these could be added to the Wiki later on.

Did find an issue when trying to compile the OneWire library - raised an issue for this: https://github.com/digistump/OakCore/issues/22

[2016-01-31 00:34] ripred commented on #9
Erik, once I renamed the older Arduino Servo folder it found and used the esp8266 version.  It initially failed while compiling the esp8266 version of Servo.cpp with errors about min(...) and max(...) being undefined.

I could not get the existing code to work so I added two local functions in my Servo.cpp called getmin(int x, int y) and getmax(int x, int y) and it all compiles and is working for

[2016-01-31 00:38] ripred commented on #9
Aha!  I had also removed the (really old) residue Servo folder that used to reside under /Users/USERNAME/Documents/Arduino/Libraries/Servo which I believe was residue from the way things worked back in the Arduino 1.0.5 days.  So the correct resolution of which version of Servo to use might not be an issue for anyone except really older Arduino users.

Cheers,
Trent

[2016-01-31 02:12] DarkLotus commented on #22
I cant find any OneWire devices to test with( i know i have a bunch of DS18's somewhere.... ) but i suspect the standard ESP8266 Arch should work.

If your comfortable trying, edit /packages/digistump/hardware/oak/0.9.2/variants/oak/pins_arduino.h
Insert the following anywhere after line 29, i just stuck it right at the end before the final #endif
    #define ARDUINO_ARCH_ESP8266 1
This will let y

[2016-01-31 08:13] ajpowell commented on #22
Hey @DarkLotus, I tried this - the code compiles and I have deployed OTA - something isn't right though - the serial output is:

[code]

Certainly not 127°C here!  But at least I am getting response from the device!

I will be out all day today - will take a deeper look tonight if not back too late.

[2016-01-31 08:38] DarkLotus commented on #22
Hey cool it sort of worked, I still cant find a DS18B20, so hopefully someone else can add some more insight. Can probably rule out timing, DHT library by adafruit uses the same delaymicroseconds call and works okay.

[2016-01-31 20:06] ajpowell commented on #22
OK - looked at this again and found that wire connecting to the DS18B20 pin 3 (Vdd) wasn't making a good connection :disappointed:  - replaced the wire and everything is working  :grinning:

[code]

23°C is more like it for house with central heating on at the end of damp and windy day in England!

[2016-01-31 23:01] ajpowell opened #23 "Baud rate of initial serial output from Oak"
Would it be possible to change the baud rate of the initial output  on the serial port from the Oak to a 'standard' baud rate?  According to others, they see data at 74880 baud...my serial terminal (Mac OSX CoolTerm) can only monitor at certain rates - 9600, 14400, 28800, 38400, 57600, 115200.

So the initial data, appears to me as something like (seen at 57600 baud):
[code]
Others testers have re

[2016-02-01 01:16] DarkLotus commented on #23
As far as i understand it no, The 74880 baud is not changeable as its part of  the esp's actual ROM, not the user portion we modify by flashing the device.

Someone else with more knowledge may be able to answer better but in the mean time you can add a new text file in the same folder as coolterm called 'baudrates.ini' and add 74880 on a single line as explained @ http://forums.the-meiers.org/vie

[2016-02-01 10:55] ajpowell commented on #23
Ah!  Thanks @DarkLotus.

OK, if that is essentially fixed/out of our control, then that's that.

As a workaround, changing the available baud rates would work - will try
the baudrates.ini trick when I get home.

[2016-02-02 23:42] ajpowell commented on #23
BTW - The work around is working nicely - :smile:

[2016-02-03 03:53] exeng commented on #7
Erik, Built two Oak Level Shifters. Have a tutorial draft ready with pics. Ready to write a level shifter wiki tutorial.
Steve

[2016-02-03 07:01] exeng commented on #7
Erik, Just completed the initial (for review) Oak Level Shifter Shield tutorial. First time Wiki'r but managed to figure it out. Have to thank briankb for provided the first example. It help with tables and nested link syntax. Let me know if this works for you or if you need anything else. Please review. T and M image files are attached. Got bit by the 10MB limit. I'll have to piecewise send ZIPs

[2016-02-03 07:40] exeng commented on #7
Erik, Here is 1 of 3 large image ZIPs. Sorry for the large number of images but there were 23 photo in the tutorial.
Steve
[Oak-Level-Shifter-Shield-l-1.zip](https://github.com/digistump/OakCore/files/115248/Oak-Level-Shifter-Shield-l-1.zip)

[2016-02-03 07:41] exeng commented on #7
Erik, 2 of 3...
[Oak-Level-Shifter-Shield-l-2.zip](https://github.com/digistump/OakCore/files/115251/Oak-Level-Shifter-Shield-l-2.zip)

[2016-02-03 07:42] exeng commented on #7
Erik, Last one 3 of 3. Let me know if you need anything else. Good night.
Steve
[Oak-Level-Shifter-Shield-l-3.zip](https://github.com/digistump/OakCore/files/115255/Oak-Level-Shifter-Shield-l-3.zip)

[2016-02-03 12:18] DarkLotus commented on #16
Have not had as much free time the past few days but I've still been digging!

I've narrowed it down thus far to something in the Oak/Particle integration. Stripping the oak includes and Particle.connect/ Particle.process from arduino.h and esp_main.cpp results in -0s working. Hopefully will have more free time over the weekend to narrow it down further.

[2016-02-04 23:11] exeng commented on #7
Erik, Noticed that you edited my Oak Level Shifter Shield tutorial submission. You changed the parts list to include call out 1x40 pin header, 47 pins worth. Will there be 2 1x40 headers in the kit? Perhaps broken as you suggest? That seems to be what happen to my kits. Wondered why there was a different mix of headers from one kit to the next.
Steve

[2016-02-04 23:51] exeng commented on #7
Erik, Took another look at the Oak Level Shifter Shield tutorial. Noticed that the step numbers jump from 6 to 8. This was my bad. In my original offline draft I had a step 6 and 7 that was combined for dokuwiki version and I forgot to renumber accordingly. Basically 6 and 7 were separate steps (before combined) for the 2 and 3 screw terminals. If you want me to fix the numbering, let me know. Els

[2016-02-05 20:09] 3dpinta commented on #7
I'll be getting the TFT shield tutorial up later tonight. Thanks!

[2016-02-06 04:19] 3dpinta commented on #7
Sorry it was over 6 hours but I have it done. Here's the tutorial.
[Oak TFT Shield](http://digistump.com/wiki/oak/tutorials/tft)
And the pictures.
[Oak TFT Shield.zip](https://github.com/digistump/OakCore/files/120124/Oak.TFT.Shield.zip)

[2016-02-07 19:14] exeng commented on #7
Erik, Corrected step number sequence in Level Shifter Shield tutorial.
Steve

[2016-02-08 00:39] digistump opened #25 "BOUNTY: Particle.variable(); with double doesn't compile"
**Skills Required:** Intermediate at C/C++
**Difficulty:** Easy to Moderate

## Challenges/Thoughts:

Fix Variables functions as reported here: http://digistump.com/board/index.php/topic,1997.0.html for all accepted input types (String, char*, double, int) - see comments below for more notes.

## To test:

Install Python 2.7 and ensure it is in your path
Install the latest Oak core via board manag

[2016-02-08 01:46] digistump commented on #23
Closing - thanks for answering this @DarkLotus  - your answer was exactly correct.

[2016-02-08 01:46] #23 closed

[2016-02-08 01:47] digistump commented on #22
Closing - defining this (in next release) in pins_arduino.h so that it is present for all libraries - thank you both!

[2016-02-08 01:47] #22 closed

[2016-02-08 03:42] digistump commented on #25
@DarkLotus @danielmawhirter @povrazor - Would any of you folks with much better C++ foo then me be willing to take a look at this - looking at Particle's original code for this (https://github.com/spark/firmware/blob/35a78512e983e667e3b9a1696396f42b82c66465/wiring/inc/spark_wiring_cloud.h) it seems like it should work but I'm guessing there is a scope/template issue going on here where the linker

[2016-02-08 07:05] digistump opened #26 "Final Beta Testing"
- [ ] Test a sketch sent over OTA compiled on Linux x64 or OSX with compiler flags set to -0s   --  it should not work but it should boot into config.
- [x] Test TFT LCD
- [x] Test nRF
- [x] Test OLED
- [x] Test Character LCD on Level Shifter
- [ ] Test Pin 0 held high boot into recovery
- [ ] Test event reboot commands - add more
- [x] Fix delay call so that it doesn't take longer then actual del

[2016-02-08 15:27] joeycortez42 commented on #9
I'm using OS X and I had a similar problem to @ripred. After renaming the default Arduino folder I added this to my Servo.h

`#define min(a,b) (((a)<(b))?(a):(b))`
`#define max(a,b) (((a)>(b))?(a):(b))`

And that got it working!

[2016-02-08 16:44] ExiaSR opened #27 "Oak WIFI scanning issue"
When I try to setup the oak, I can't get a full list of the avaiable network around my place, only a part of it.

[2016-02-09 00:19] DarkLotus commented on #27
Yes their is an internal limitation to only display the first 10 Access
points.

If your AP is not shown, you can enter the SSID and password manually via
the SoftAP config.html.

On Tue, Feb 9, 2016 at 6:21 AM, Michael(Zichun) Lin <
notifications@github.com> wrote:

[2016-02-09 00:46] ripred commented on #9
@nokemono42:  Yes that will fix it as well.  I know that on last check Erik had those exact macros commented out from inside the core.  Not sure why other than I suspect they got in the way of something.  Not to mention that macro-based min/max definitions have some possibly bad results such as passing argument expressions that modify existing state such as calling max(x += 1, 0) &c but I'm sure y

[2016-02-09 01:14] digistump commented on #27
Yep, it is limited to 10 APs, we may expand this in the future - DarkLotus is correct - closing this issue.

[2016-02-09 01:14] #27 closed

[2016-02-09 22:43] danielmawhirter commented on #25
It looks like a version of https://github.com/spark/firmware/blob/35a78512e983e667e3b9a1696396f42b82c66465/wiring/inc/spark_wiring_cloud.h#L134-L137 needs to be added for double? I don't see one in that file.

[2016-02-10 20:29] digistump opened #28 "BOUNTY: Fix hidden network bug"
**Skills Required:** Intermediate at C/C++ and ESP8266 knowledge
**Difficulty:** Unknown

## Challenges/Thoughts:

When in config mode on Windows 8.1 (and likely others) the Oak appears as a hidden network when first powered on (seems to appear as ACORN-XXXXXX after a soft reboot) - you can still connect to it, and so fixing it has not been a high priority previously. My best guess is this involve

[2016-02-10 20:54] digistump opened #29 "BOUNTY: Get FastOTA working"
**Skills Required:** Intermediate at C/C++, Particle knowledge a plus but not necessary
**Difficulty:** Easy to intermediate

## Challenges/Thoughts:

The Particle cloud supports both a slow OTA update mode and a fast mode. The slow mode is currently working with the Oak and works as follows: the cloud breaks the bin file up into chunks and sends them in order one at a time, when the Oak gets the

[2016-02-10 22:32] digistump opened #30 "BOUNTY: Debug and create interface for Cloud Serial"
Skills Required: Intermediate at C/C++ and Beginner or higher at Javascript/CSS
Difficulty: Easy to Moderate

## Challenges/Thoughts:

This pull request added the ability to use Particle cloud events like they are a "Serial" object in Arduino: https://github.com/digistump/OakCore/pull/6

- Written data is sent to the cloud as the event oak/device/stdout
- Read data is sent to the Oak via the event

[2016-02-10 22:41] digistump opened #31 "BOUNTY: Increase router compatibility"
**Skills Required:** Intermediate at C/C++ and ESP8266 knowledge
**Difficulty:** Unknown

## Challenges/Thoughts:

It seems the Oak is having trouble with several routers (with 12,000+ oaks in the wild it is hard to know if its 1% or 10% of routers, but it seems to be the most common issue). The Oak uses the ESP8266 Arduino Core/WiFi library (which uses the ESP8266 SDK and lwip as a base) as its c

[2016-02-10 23:25] mikekasprzak commented on #25
Yeah, there's an Int and String version, but no double.

It needs something like:

[code]

That's untested though.

I'm also not exactly sure the right combination of &'s, since I don't know the other code.

[2016-02-11 00:02] digistump opened #32 "BOUNTY: Docker image for Particle Cloud"
**Skills Required:** Intermediate Docker/Linux Skills, some familiarity with PlatformIO a plus
**Difficulty:** Easy to Moderate

## Challenges/Thoughts:

The Particle Web IDE uses compilers in the cloud to build sketches. The compilers run from Docker images for each platform that take an input folder (sketch and libraries) and output a .bin file for the cloud to upload to the device. They also ou

[2016-02-11 00:46] inventhouse commented on #7
Erik, I built the Weather Shield last night and took pictures, though I haven't tested it (beta firmware, no 3v3 programmer); I'll try to write it up this evening.

[2016-02-11 01:17] digistump commented on #25
Thank you both - that was my thought too - but that doesn't seem to do it (or I'm doing it wrong) in addition the spark code linked works for doubles on particle/spark devices and doesn't have it - my for variables code is essentially a verbatim copy of theirs with some scope changes, so that's where I get lost - I'm going to add a small bounty to this and see if that makes it worth anyone's time

[2016-02-11 01:35] digistump opened #33 "BOUNTY: Fix anything that can brick a device"
PLEASE: Report bricking issues here ONLY if you can provide a sketch/example that triggers it - anyone is then free to implement a fix for the reward.

---------------------------------------

**Skills Required:** Intermediate at C/C++ and ESP8266 knowledge
**Difficulty:** Unknown

## Challenges/Thoughts:

We still have scattered reports of people being able to brick their Oaks with the Beta firmw

[2016-02-11 01:47] digistump opened #34 "BOUNTY: Fix Min/Max definitions"
**Skills Required:** Intermediate at C/C++
**Difficulty:** Easy

## Challenges/Thoughts:

See min max issue mentioned here: https://github.com/digistump/OakCore/issues/9

Fix Arduino.h and other files so that it compiles with the min and max defined for use in libraries and sketches, but without causing errors in the OakParticle files that need it undefined.

## To test:
- Register an Oak with Par

[2016-02-11 02:03] digistump opened #35 "BOUNTY: Manage this open source project for a month (or more)"
**Skills Required:** ESP8266, Arduino IDE, Particle, C/C++ (or learn them as you go)
**Difficulty:** Easy but potentially time consuming

## Challenges/Thoughts:

I realize this is pretty strange, and I'm sure some will be offended by the very posting of this. Please realize this is NOT in any way an indication that we don't remain fully committed with all our available to time to this project, it

[2016-02-11 03:02] inventhouse commented on #7
Erik, I can't find the "reset password" on the wiki; I was 'bjh' there before I got crazy-busy...

[2016-02-11 16:04] inventhouse commented on #7
Got images cropped and annotated and some words written last night, hopefully I can bang out the rest tonight.

[2016-02-11 21:13] #34 closed

[2016-02-12 06:38] inventhouse commented on #7
Erik, For "medium" images should I aim for dimensions that approximate 854x480 pixels (e.g. a square image should be scaled to sqrt(854x480) = 640x640)?

[2016-02-12 07:06] inventhouse commented on #7
Anyway, I just have to scale the images and transfer the writeup to the wiki once I get back in; Erik, for the password reset, feel free to contact me at the email associated with my 'bjh' wiki account.

[2016-02-12 11:38] digistump opened #38 "BOUNTY: Make Fritzing Part for Oak"
**Skills Required:** Basic Fritzing/Image Manipulation
**Difficulty:** Easy

## Challenges/Thoughts:

Use the Oak image from the pinout graphic to make a Fritzing part - please label pins based on an actual Oak as the pinout is somewhat outdated (I'll be updating it next chance I get).

## Bounty

$25 credit or 3 Oaks

Cash or credit is your choice. Cash to be paid via Paypal. Credit has no expira

[2016-02-12 11:57] digistump opened #39 "Create Mini-tutorials for Starter and Ultimate Kits"
**Skills Required:** Basic Fritzing/Image Manipulation/Writing
**Difficulty:** Easy

## Challenges/Thoughts:

Use the Oak Fritzing part (this can't be done until someone does that - see #38) to put together a simple Fritzing connection graphic of a basic lesson that can be done with the Starter or Ultimate kit.

Provide text for this lesson, including how to do it, what it teaches, and what the co

[2016-02-12 12:23] digistump commented on #25
Closing awarded to DarkLotus

[2016-02-12 12:23] #25 closed

[2016-02-12 12:24] #9 closed

[2016-02-12 12:38] DeuxVis commented on #38
Ooops I just posted that pinout graphics on the oak wiki, as I had a hard time finding it I thought I'd help others. I'm going to mention it is outdated there.

[2016-02-12 12:51] usmanatron commented on #32
Im pretty sure I can do this so I'm going to have a go.  I'm aiming to finish by the end of Wednesday but I'll post an update with how it goes :-)

[2016-02-12 12:52] paulscott56 commented on #32
I'll give it a shot too. Hopefully I will be able to do it over the weekend

[2016-02-12 19:55] emcniece commented on #30
I think this one is for me! It's definitely in my neck of the tech woods - will crack it open over the weekend.

[2016-02-12 20:42] joeycortez42 commented on #35
I'm interested in helping manage the project. What's the best way to discuss this with you?

[2016-02-13 01:14] DarkLotus commented on #29
Hey, was planning to give this one a shot, but is it just me or does the OakSystem sketch fail to compile? [build log](https://gist.github.com/DarkLotus/aa76bf13b478df95990b)

[2016-02-13 01:53] digistump commented on #29
A few commits coming in the next hour (and the next beta release) that will
fix that, sorry looks like I made an interim commit at some point.

On Fri, Feb 12, 2016 at 5:14 PM, James Kidd notifications@github.com
wrote:

[2016-02-13 03:36] digistump opened #40 "Detach blinker timer in OakSetup before accepting OTA"

[2016-02-13 04:49] DarkLotus commented on #29
ah sweet, didnt think id broken anything late last night hah

[2016-02-13 05:49] digistump commented on #29
should be good to go now! Beta release 3 is also live for update

On Fri, Feb 12, 2016 at 8:49 PM, James Kidd notifications@github.com
wrote:

[2016-02-13 06:00] DarkLotus commented on #29
Tried compiling System again, same errors but then i tested [blink with function](https://gist.github.com/DarkLotus/74a52e4acdb619abf28e)
And get similar errors, ie blinkLED is not declared. Seems like the preprocessor is not creating declarations, the sketch in /tmp has the definitions, but not the declarations added at the top like normal.

Adding the declarations manually to the top of the sket

[2016-02-13 06:13] digistump commented on #29
very strange - no idea why you're getting that, especially with the simple sketch - I just tried a completely fresh install of Arduino 1.6.7 and pulled 0.9.3 via board manager and that worked (as did my previous install of 1.6.5 I've been developing on)

[2016-02-13 06:50] DarkLotus commented on #29
Ah maybe im going crazy, wiped 0.9.3 and reinstalled again and its now fine.

[2016-02-14 02:44] emcniece opened #42 "Stuck in OakBoot loop"
Just trying to get started with the 1.6.5 firmware, following the instructions from #30 with a few hurdles along the way. I am finally able to flash the device over serial, but the "Start" example won't run properly - the device gets stuck in a loop.

After flashing and power cycling, the serial monitor reveals this dump (endlessly repeating every ~500ms):

    OakBoot v1 - N,BU,0

     ets Jan  8

[2016-02-14 03:36] DarkLotus commented on #31
Via Oak Support forums two people reporting they cant get the Oak to connect to their WIFI and mentioning Router models.

The asus is a Broadcom BCM4331
And looks like the Apple is a Broadcom BCM4360

[2016-02-14 04:33] kh90909 commented on #33
While trying to reproduce the hidden network bug, I believe I've found a sketch that will brick an Oak, but I'm not sure if this counts as calling one of the "WiFi functions" that @digistump mentioned above will be removed in future.

[code]

After rebooting to config mode and finishing the Soft AP configuration, the sketch runs again immediately, so it goes right back to config mode. Is this a co

[2016-02-14 06:46] kh90909 commented on #28
I've gone through all the above tesing steps to make sure my Oak is completely up to date, but I haven't been able to replicate this issue on my 64-bit Win 8.1 machine, which has a Broadcom 802.11ac wifi chipset. Same goes for the other devices I tested: a Win 7 laptop and my Android phone.

Might this issue be specific to certain wifi chipsets, or 32-bit Windows?

[2016-02-14 15:15] DarkLotus commented on #29
[WiP](https://github.com/DarkLotus/OakCore/tree/fastota)
Some work in progress, its after 2am here so im done for the night but i just had my first successful FastOTA flash and it was FAST!

After initially fixing the First chunk issue, next up was it was SLOW still. sending acks. Fixed that and it was Exception(0) after 6-7 chunks, Tried 100's of different things at this point.

The final key app

[2016-02-14 19:27] digistump commented on #42
Strange - I certainly am not able to duplicate but a few thoughts on what might be causing it:

Did you run the OakRestore command first from the instructions in #30 - that also clears out the bootloader config. That doesn't appear to be the issue here though because it is booting to 0 which is where the serial uploader places it.

Has the Oak already been registered and claimed on the Particle cl

[2016-02-14 19:56] emcniece commented on #42
The OakRestore process was executed without error! However, the device has not yet been registered/claimed and it hasn't been configured for Wifi! Thanks for the tips, will update with progress.

[2016-02-14 23:36] usmanatron commented on #32
Hi guys,
Quick update - I've got PlatformIO installed and I'm DLing the latest OakCore release.  I haven't yet installed this into PlatformIO (don't know much about PlatformIO so trying to work it out as I go!)

Still hoping to get it done in the next couple of days :-)

[2016-02-15 02:39] DarkLotus commented on #33
#1 sounds like the better idea, Still gives user roms the ability to reboot
to config if you do change AP's or something.

Atleast for now, just dont call it directly from loop, only call it on some
certain input, ie Pin LOW, or some serial input etc.

On Sun, Feb 14, 2016 at 3:33 PM, kh90909 notifications@github.com wrote:

[2016-02-15 03:42] DarkLotus commented on #29
Another update.

Delay has been tweaked an OTA update takes about 15-30 seconds.

I've ran into a new issue though
[Log](https://www.dropbox.com/s/e7e1r7qrzz1kljv/semiWorking.PNG?dl=0)

The spark events, ie OTA Update Started, do not fire, and particle reports the update as having failed. But as shown in Serial output, the update worked, and rebooted fine.
If i move the spark event OTA Update Star

[2016-02-15 03:52] 3dpinta commented on #38
This was my first attempt at making a Fritzing part but here's my submission. I'll get working on some tutorials for it as well.
[Digistump Oak (v1.0) Fritzing Part.zip](https://github.com/digistump/OakCore/files/130076/Digistump.Oak.v1.0.Fritzing.Part.zip)

[2016-02-15 04:44] paulscott56 commented on #32
Nice! Let me know if I can help. I wasn't able to get free time to do much
here myself....

-- Paul

On Mon, 15 Feb 2016, 01:36 Usman Iqbal notifications@github.com wrote:

[2016-02-15 05:26] emcniece commented on #42
Tried enabling #DEBUG_SETUP in C:\Users\YourUserName\AppData\Roaming\Arduino15\packages\digistump\hardware\oak\0.9.3\cores\oak\OakParticle\particle_globals.h and `added Serial.start(115200);` to first line in `void setup(){}` - no difference in serial dump

As advised, attempting to add wifi creds to the device and register is on the Particle network. Device is not showing up as a wifi AP, can't f

[2016-02-15 06:09] DarkLotus commented on #29
Looks like it might be an issue on particles end. Ill clean this up into one commit and PR later.

[2016-02-15 07:19] DarkLotus commented on #29
New branch [fast-ota](https://github.com/DarkLotus/OakCore/commits/fast-ota)

As above just cleaned up and condensed to one commit. I've done 20+ flashes now with no issues apart from particle cloud reporting it failed.

[2016-02-15 10:44] pfeerick commented on #28
I would suggest the same (certain wifi chipsets) - I had no end of trouble trying to get my laptop with intel wireless to connect to the SoftAP for setup, and eventually gave up and connected with the android tablet with no issues whatsover - other than it being a bit slow to get the next configuration page. Intel Wifi, Windows 10 Pro x64.

[2016-02-15 11:21] pfeerick opened #44 "Particle registration or SoftAP having issues with SSID naming?"
I'm wondering if I've come across a part of the bug that people seem to be having with routers and SoftAP setup - my SSID has a '(', ')' and some ' ' (spaces) as part of the name, and I couldn't get the Oak to connect via it after several attempts. However it immediately connected through my Ravpower Filehub as a AP instead, which had an SSID of 'Filehub-4CU2', so no spaces and only symbol was a h

[2016-02-15 11:34] pfeerick commented on #44
Hm... it appears lemming #2 is not connecting to Particle... although it was able to do the firmware update. Looks like I'm stuck using a secondary AP until this is resolved. I'll update tomorrow, as I'll leave it connected overnight to see if anything shakes loose... stupid thing is... it is connected to the network ok, as I can see it's been allocated an IP and is responding to pings... just isn

[2016-02-15 12:10] pfeerick commented on #44
Hm... pulled the secondary AP and tricked the first oak which had been registered with particle into rebooting into SoftAP mode, as I couldn't get the Pin0 to GND trick to work for me... Told it to use the OakSSID and it connected, and is active in particle now... very interesting indeed.

[2016-02-15 13:03] pfeerick commented on #44
And another update on the second module - after it was registered on particle, I tried to program it via the OakSSID AP, and it didn't seem to take... was doing it's three blink with random blips in between and nothing happening after 3-4 minutes of that performance. So I tricked it back into AP mode (a power cycle was all it needed that time?), and set it back to the filehub AP, and was able to p

[2016-02-15 23:06] inventhouse commented on #7
Here's my writeup in wiki format with images:
[WeatherBuild.zip](https://github.com/digistump/OakCore/files/131593/WeatherBuild.zip)

[2016-02-16 04:59] kh90909 opened #45 "Holding pin 0 low at boot does not enter config mode"
The current sketch doesn't run either. I turned on `DEBUG_SETUP` in [particle_globals.h](https://github.com/digistump/OakCore/blob/918046ba7160bed34ae51177eb610507181ee1d9/cores/oak/OakParticle/particle_globals.h) to look at the serial output and found that it just spews random accented characters after booting. In contrast, when booted with pin 0 unconnected, after flashing the system image with

[2016-02-16 06:26] DarkLotus commented on #45
Spewing out garbage sounds like the wrong baud rate, Bootloader uses 74880
then afterwards it's normally 115200. have you tried at both these speeds?
The garbage may have been the Bootloader stuck in a boot loop.

On Tue, Feb 16, 2016 at 3:59 PM, kh90909 notifications@github.com wrote:

[2016-02-16 07:37] pfeerick commented on #45
Same here. I got my Oaks yesterday, installed the latest 0.9.3 Arduino IDE, and got two Oaks to update and work (eventually, another issue documents my saga with those). I could not get either one to enter config mode by shorting Pin 0 to GND - I had to turn off the AP and wait for it to go failsafe (yes, I know I could have uploaded a sketch with the reset to config call... but didn't want to get

[2016-02-16 08:23] usmanatron commented on #32
@paulscott56 , thanks very much for the offer!  I'm definitely keen for some help with testing once complete; I haven't used PlatformIO before so it'd be good to confirm it's building something useful!

@digistump , I have a question about the spec.  I've installed PlatformIO with ESP8266 support; within that it gives me a number of boards to choose from.  Should I be using one of them (which one?

[2016-02-16 13:50] 3dpinta commented on #7
Erik, I took the writeup from bjh/inventhouse and put it up on the wiki so you won't have to worry about doing at least that minimal part.
I'll have to get myself a weather shield now too!

[2016-02-16 15:57] kh90909 commented on #45
I had the same thought, but dismissed the idea after trying all the common baud rates. Didn't know the bootloader used an odd one. That's got to be it, thanks!

I'll try it tonight and see what the bootloader is saying.

[2016-02-17 20:30] kh90909 commented on #45
**I'll summarize first, since this is a long comment:**

Pin 0 can't be used to trigger config mode as it puts the ESP8266 into undocumented boot modes that do not load code from the flash chip. We need to use a different pin.

Happy to make and test the necessary code and doc changes (should be minimal) and submit a pull request. @digistump you initially started with pin 10, then switched to pin

[2016-02-18 17:42] exeng commented on #38
3dpinta, Nice work on the fritzing part. I too am a fritzing noob. You did all the hard work. I've been working on another form of the Oak graphic that you may want to use. It's a work in progress and I hope to finish it either this evening or end of day tomorrow. You are welcome to use it and take all the credit for the part entry. (See attached zip). The first one will have headers on it. The se

[2016-02-18 19:01] 3dpinta commented on #38
I'll take a look at it next week. I'm swamped through the weekend but I will roll it into my part to update it when I get a chance. Thanks!

[2016-02-18 19:08] digistump commented on #32
@usmanatron - the Oak files should be copied in where the ESP8266 files reside, and I think that should allow PlatformIO to support it and show the Oak as a board, its a completely separate core, the reason for installing the ESP files first is to get the support files like the compilers - it may take some tweaking for paths to match and such

[2016-02-18 19:14] digistump commented on #29
Awesome! Thank you! I will double confirm with Particle and then merge!

[2016-02-18 20:20] usmanatron commented on #32
@digistump , thanks for the clarification - that makes sense.  I'm at the point where I have a container with everything installed, so I can just attach to the container and hack away until the paths agree :-).

I should have loads of time this weekend to get it done, fingers crossed!

[2016-02-18 23:51] exeng commented on #38
3dpinta, OK, based upon your initial hard work, here are two fritzing parts for the Oak with new graphics. One part is Oak with female hearders installed which only connects to a breadboard through wires. The second part is Oak with male headers for all but the Digispark compatibility 3 pin female header. It can be dropped onto the breadboard and connects
[OakFritzingParts.zip](https://github.com/

[2016-02-19 02:10] 3dpinta commented on #38
Looks good!

[2016-02-19 08:33] exeng commented on #38
3dpinta, The version with the female headers needs some tweeking. Try to use it for an example sketch and noticed the labels are cutoff. Must have got cropped somehow. I will fix and resend.

[2016-02-19 14:39] dale3h commented on #31
I can also confirm that I've had issues with RT-N66U w/ Asuswrt-Merlin firmware ([WPA2-Personal](http://imgur.com/edD6kjV)) at a distance of approximately 15m. I will try again on a 2nd Oak at a closer range and report back.

However, using an iPhone 6 Plus as a hotspot at a range of <1m worked very well.

# UPDATES

## Router: Asus RT-N66U

**Distance:** <1m
**Power:** Router's USB port
- Disable

[2016-02-19 17:29] exeng commented on #38
3dpinta, et al, OK this one should be it. Fixed the cropping problem that was hiding labels. Changed the graphics slightly.  The FZPZ files have the same names but extract to a different directory. Due to a Fritzing issue, deleting to old version and does not completely remove the part which prevents importing the new version. I had to find where Fritzing keeps the files and delete them manually.

[2016-02-19 21:05] digistump commented on #38
@3dpinta - thanks for making this, I will send a email about the bounty. @exeng - thanks for improving it!

[2016-02-19 21:05] #38 closed

[2016-02-19 21:15] digistump commented on #29
Yes my contacts at Particle confirm this as well - they will be patching the issue with the failed notice soon, but we are free to ignore it for now - BOUNTY claimed and this will be integrated into the next release - thanks again @DarkLotus

[2016-02-19 21:15] #29 closed

[2016-02-20 06:45] digistump commented on #7
@inventhouse - please send me an email at support@digistump.com to claim your credit.

Thanks to everyone who submitted a shield so far!

[2016-02-20 11:50] digistump commented on #42
Sorry missed this one - you can set the wifi settings with the SoftAP config app and then get the device-id at 192.168.0.1/device-id (while connected to the Oak) and add that manually in the Particle IDE->Devices tab - but the Oak has to be connected to the cloud when you do that, so you'd still need to get the start sketch or similar running on it before you can claim it.

Interested to hear if y

[2016-02-20 14:43] jhitze commented on #15
Should this be in https://github.com/digistump/OakCLI ?

[2016-02-20 18:04] digistump commented on #15
Technically yes - but I prefer to use this issue tracker for the whole project, at least for my random "to-do list" thoughts

[2016-02-21 19:24] exeng commented on #38
@digistump , I realize this was ask for or needed but to complete my Fritzing learning exercise I decided to do a Fritzing part for the Level Shifter. It's mostly done but I'm fighting Fritzing trying to get the PCB silkscreen to showup. Fritzing apprears to be a very powerful and useful tool but it can be frustrating trying to understand how to make it happy. I'll post when completed but it may b

[2016-02-21 21:14] usmanatron commented on #32
Hi guys,

Good news: I think I've got it working!  Though not using PlatformIO...
After looking very carefully at he PlatformIO docs and at what you get after installing the espressif \ ESP8266 platform, I'm pretty convinced that this isn't going to just work without chopping and changing loads of things (in such a way as to make it vy. hard to maintain \ brittle).

I can see that the structure of

[2016-02-22 00:02] eumb commented on #35
Hi.
I would like to be a part of this project. If my skills are useful I would be happy to join.

Regards.

[2016-02-22 00:45] exeng commented on #38
@digistump Erik here is a simple Fritzing example to show off the Level Shifter breadboard part. There is some sort of artifact just below shifter (not an Oak) that I'm trying to figure out why is there. Don't see it in my SVG file. In any case this is just so you can see the part. I'll release the part once I'm happy it's right.
[LevelShifterExample.zip](https://github.com/digistump/OakCore/files

[2016-02-22 04:23] wminarik commented on #7
I'll be uploading the 3.3V Relay Shield tutorial shortly.

[2016-02-22 04:32] wminarik commented on #7
The 3.3V Relay Shield tutorial has been added. Tiny and medium images are attached here, originals will be mailed to support@ since the zip is over 10 MB.
[t.zip](https://github.com/digistump/OakCore/files/140102/t.zip)
[m.zip](https://github.com/digistump/OakCore/files/140103/m.zip)

[2016-02-22 21:56] 3dpinta commented on #7
I'll be posting up the GPS and OLED shield tutorials tonight. If I get a chance, I'll be putting the nRF24L01+ shield up too.

[2016-02-23 01:02] digistump opened #47 "Oak Update Debug Logs"
Please paste you Oak update debug logs here - or email them to support@digistump.com if you do not have a github account to comment here.

Reference: https://github.com/digistump/OakRestore

[2016-02-23 01:12] digistump commented on #31
@dale3h Thanks for the detailed info!

I was finally able to replicate the update issues reliably - specifically they seem to involve fast connections allowing the device to download data so fast that each loop to write the data to the Oak's memory goes so fast that it outpaces the Oaks ability to erase the next block of memory before writing it. (This bug seems to possibly have some deep roots in

[2016-02-23 02:51] dale3h opened #48 "SoftAP Config App URL Invalid"
The URL for the SoftAP Config App is missing a lowercase "L" at the end of it, resulting in a 404 error.

Wiki page: http://digistump.com/wiki/oak/tutorials/arduino
Invalid URL: http://rawgit.com/digistump/OakSoftAP/master/config.htm (missing "l" at the end)

I tried to register for an account on the wiki so that I can fix this typo, but have been unable to do so. How do I go about doing this?

[2016-02-23 03:04] dale3h commented on #31
I tried the update again with the Oak that failed to update many times the other day.

Router: Asus RT-AC68W
Distance: ~12m
Power: MacBook Pro USB Port

Attempt 1: Failed, but flashed rapidly
Attempt 2: Without power cycling, I tried again. It failed, WITHOUT rapid LED flashes.
Attempt 3: Power cycled, saw rapid LED flashes, 1 blink per second, more rapid LED flashes, and back to 1 blink per secon

[2016-02-23 04:12] 3dpinta commented on #7
Erik,

So, slight change of plans. I finished the GPS, OLED, and BTLE tutorials tonight instead of the nRF24L01+ shield. The pictures are too large to post and to keep things short, you can get them from my [Dropbox](https://www.dropbox.com/s/qm0x8aw9yy14zpx/3xTutorial_Images.zip?dl=0).

For these three shields, I also noticed there was a warning from the Pro tutorials to check with a DMM about sh

[2016-02-23 04:40] digistump commented on #48
Fixed - thanks - looks like someone edited the wiki to make that link in a code block, but deleted the last letter.

Register for the wiki by registering for the forums - looks like a wiki update wiped that message out on the login screen.

[2016-02-23 04:40] #48 closed

[2016-02-23 04:49] digistump commented on #44
@pfeerick - can you retry the initial update using your main AP? I think this might have been unrelated to the AP name and just because the filehub AP was a bit slower or something - see for more: https://github.com/digistump/OakCore/issues/31#issuecomment-187462037

[2016-02-23 05:56] ancientmidi commented on #47
rlØrß#ânÀàìp<ßì8Çäpònnä;ònÜäbç$rrpònàÃÜàÇÀlbÀnâãnÀäìbÀÄ¾~ònîÄÁl`Ü#nÀrnrß;ÄÀ?Ç;pònàÃÜàrâpp<ÇlÄbÀÄ>~ònîÄðrÜ#nÀrnrß;ÄÀ?àrrÛnàrr~Ûà¹nònnäÄÜÇlbÀü|ÿÛÛÁbà$``
 ets Jan  8 2013,rst cause:2, boot mode:(3,6)

load 0x40100000, len 3632, room 16
tail 0
chksum 0xc0
load 0x3ffe8000, len 352, room 8
tail 8
chksum 0x82
c

[2016-02-23 06:30] digistump commented on #47
Thank you  - I was able to duplicate this and I'm working on it now
Will update here when I think I have something

[2016-02-23 06:49] digistump commented on #47
@ancientmidi If you can retest I'd be interested to know if it is working for you now - note you will need to re-download oakupdate_restore.bin from the repository

[2016-02-23 07:07] ancientmidi commented on #47
Not noticing a difference but I'm going to re-clone OakRestore to make sure I didn't use the wrong oakupdate_restore.bin

[2016-02-23 07:24] ancientmidi commented on #47
Will confirm with another in a bit.

 ets Jan  8 2013,rst cause:2, boot mode:(3,1)

load 0x40100000, len 3632, room 16
tail 0
chksum 0xc0
load 0x3ffe8000, len 352, room 8
tail 8
chksum 0x82
csum 0x82

OakBoot v1 - N,BP,2

START UPDATE ROM
WIFI
WIFI CONNECT
GO TO UPDATE
START UPDATE
HOST LOOKUP OK
PARSING HTTP HEADER
HTTP/1.1 200 OK
FILE LENGTH: 778096
START WRITING UPDATE - NO OUTPUT SHOULD BE EXP

[2016-02-23 07:25] ancientmidi commented on #47
Sorry if that didn't sound like good news -- let me rephrase.  The one I called "problem_child" activated after a few tries. :)

[2016-02-23 08:11] ancientmidi commented on #47
Second Oak, not so good.

 ets Jan  8 2013,rst cause:2, boot mode:(3,6)

load 0x40100000, len 3632, room 16
tail 0
chksum 0xc0
load 0x3ffe8000, len 352, room 8
tail 8
chksum 0x82
csum 0x82

OakBoot v1 - N,BP,2

START UPDATE ROM
WIFI
WIFI CONNECT
GO TO UPDATE
START UPDATE
HOST LOOKUP OK
PARSING HTTP HEADER
HTTP/1.1 200 OK
FILE LENGTH: 778096
START WRITING UPDATE - NO OUTPUT SHOULD BE EXPECTED FOR U

[2016-02-23 10:01] pfeerick commented on #44
I agree... initial update issue may be speed related. Will respond with my results in other thread.

[2016-02-23 10:11] pfeerick commented on #31
Same here. Have just tried with a virgin Oak, and got happy download blinks for about 25-30 seconds and then a failure message when SoftAP reconnected. If I get time tomorrow, I will go through the OakRestore process and post debug logs here.

My router is a Billion 7800, which I believe also uses a Broadcom chipset.  Have tested  2 & 6 metres away from the router (with two working Oaks having no

[2016-02-23 10:34] digistump commented on #45
Yes - sorry was supposed to be pin 1 not pin 0, not sure how I missed that... the coming release will have this fixed to pin 1

Open to suggestions as to what pin this should be - but pin 10 doesn't seem to work either due to its other functions (GPIO16) as wake with a internal pull up

[2016-02-23 10:34] #45 closed

[2016-02-23 10:35] digistump commented on #40
will not fix - cosmetic only and would require including timers in main core

[2016-02-23 10:35] #40 closed

[2016-02-23 11:37] digistump commented on #33
This is the expected behavior because this can be used to change wifi and get a new sketch or just to change wifi and then jump back to the old sketch (think of a button attached to the Oak triggering the rebootToConfig to allow the user to change the wifi settings).

I've simplified this in the coming release though - when you boot to config it will start the config server and also if it can conn

[2016-02-23 13:57] thunderace commented on #15
Done : have a look [here](https://github.com/thunderace/OakCLI). I made a pull request

[2016-02-23 15:47] dale3h commented on #47
Using the same Oak I've had fail 20+ times. I used OakRestore to restore it (took me a while to figure out...notes below)

#### OakRestore Notes
- I am not a serial expert, so this may just be my lack of serial knowledge: Make sure you do not try to connect the serial terminal before trying to flash, otherwise it will result in an "access denied" error.
- On Windows, be sure to include "COM" in yo

[2016-02-24 01:19] kh90909 commented on #33
Great, this change will achieve the same essentially thing as option 1 discussed above.

[2016-02-24 01:47] kh90909 commented on #45
I guess pin 1 isn't ideal because the config sketch flashes the LED, so we lose the visual feedback and the driven pin is shorted to ground.

Pins 0, 2 and 10 are out due to boot mode and wake as discussed, and it's probably best to also avoid the UART pins 3 and 4 too as it would interfere with debugging, etc. Avoiding the SPI pins 7, 8 and 9 is likely sensible also, so that leaves 5 and 6.

Look

[2016-02-24 01:54] pfeerick commented on #47
As with Dale, I was tricked by there not being a mention of a 'you can remove the P2 -> GND link after the restore firmware has been successfully downloaded'... unsurprisingly, not much happened until I did... lol

**Attempt 1: Power cycle after OakRestore**

[code]

**Attempt 2: Didn't bother power cycling manually, looks like SoftAP triggered a reboot itself**
As you can see, this attempt progre

[2016-02-24 07:07] digistump commented on #45
Pin 6 is used as Slave Select for most SPI devices

Maybe a menu option to choose 1,6,or none?

On Tue, Feb 23, 2016 at 5:47 PM, kh90909 notifications@github.com wrote:

[2016-02-24 08:18] digistump commented on #32
@usmanatron - that sounds like a much superior approach! thanks for working at this!

[2016-02-24 09:11] haakonnessjoen commented on #47
So I see a lot of "SOCKET READ TIMEOUT". Would it be feasible to handle this with a restart of the download, or even a restart at the bytecount it has downloaded, instead of rebooting? This way, if someone have a very crappy internet connection, eventually, it will have downloaded the whole file. Instead of downloading the start 20 of the image 50 times.

Maybe it increases the size of the bootloa

[2016-02-24 09:33] pfeerick commented on #47
@digistump Is having access to more off-site Oaks of any benefit to you? If you are able to access other Oaks by having their deviceID, I am more than happy to leave the two Oaks that are talking to Particle online as remote programmable targets. At the moment they are simply running - there is nothing connected to them. They just publish a "loop()" event every 20 seconds (and blink their LEDs) to

[2016-02-24 18:27] kh90909 commented on #45
Sounds fine to me, as long as you make 1 or 6 the default so that someone
isn't likely to disable it unless they know what they're doing.

But it sounds like a lot of effort to add a menu...maybe just go with 1 or
6?  Even if you have an SPI device using pin 6 as slave select, I don't see
a way that pulling it low could cause problems. The SPI device won't be
usable in config mode anyway, and even

[2016-02-24 19:43] daggeisler commented on #47
Dear Erik get the same error ...

 ets Jan  8 2013,rst cause:2, boot mode:(3,6)

load 0x40100000, len 3632, room 16
tail 0
chksum 0xc0
load 0x3ffe8000, len 352, room 8
tail 8
chksum 0x82
csum 0x82

OakBoot v1 - N,BP,2

START UPDATE ROM
WIFI
WIFI CONNECT
GO TO UPDATE
START UPDATE
HOST LOOKUP OK
PARSING HTTP HEADER
HTTP/1.1 200 OK

FILE LENGTH: 778096

START WRITING UPDATE - NO OUTPUT SHOULD BE EXPE

[2016-02-24 21:41] daggeisler commented on #47
[eth_trace.zip](https://github.com/digistump/OakCore/files/145458/eth_trace.zip)
Hello Erik attached an ETH Trace nothing changed it looks like the server and the oak getting interupted because of retransmits...

[2016-02-25 01:40] digistump commented on #15
Thanks following up in that pull!

[2016-02-25 01:40] #15 closed

[2016-02-25 01:41] #26 closed

[2016-02-25 01:41] #17 closed

[2016-02-25 10:23] pfeerick commented on #18
This may not be the best place to discuss this, but I have a question about the behaviour associated with "Still cannot connect to WiFi (not Particle, but WiFi) after 5 consecutive tries - aka no internet available."

Can you make it so that it still retries to connect to it's last remembered AP, and if a connection is re-established, it jumps back into the user sketch.

Usage example - we had a 3

[2016-02-25 11:06] emardee commented on #18
That was my immediate question too when reading how it now works... sounds like this needs to be a configurable option so we can tailor the behaviour to match our needs.

Also on same train of thought what are the security implications if the Wifi router drops, and therefore our Oaks start broadcasting on their own open wifi to get a new wifi config?

I could imagine scenarios where people would w

[2016-02-25 18:39] dale3h opened #49 "Board manager not showing Oak 0.9.4 (it shows 0.9.3 as the latest)"
As the title says, the Arduino Board Manager is not showing 0.9.4 as the latest available package. I checked the JSON file in my browser and there appears to be no references to 0.9.4 anywhere.

[2016-02-25 18:56] dale3h commented on #47
I was able to get my problem-child Oak to update using the latest beta and my iPhone in hotspot mode.

[2016-02-25 19:39] digistump commented on #49
Opps! I pushed it to github as I called it a night, looks like it failed to push, re-pushed now and double checked and it all looks good - sorry for that!

[2016-02-25 19:39] #49 closed

[2016-02-25 21:58] 3dpinta commented on #7
I will be finishing up the nRF24L01+ and BT shields tonight.

[2016-02-26 00:19] digistump commented on #45
Not too much effort so I added all three - but I did make 6 the default
since as long as you don't have a shield attached it is easiest to use with
no side effects.

On Wed, Feb 24, 2016 at 10:27 AM, kh90909 notifications@github.com wrote:

[2016-02-26 03:52] 3dpinta commented on #7
Here are the pictures for the nRF24L01+ and BT shield tutorials. [Dropbox](https://www.dropbox.com/s/s8at1giahaqn3mt/nRF%20and%20BT.zip?dl=0)

[2016-02-26 04:43] kh90909 commented on #45
Great. Thanks for all your effort Erik.

[2016-02-26 14:32] starwolf73 opened #50 "Seem like 0.9.4 brick my OAK"
Hi,
Just to let you know this morning I decide to upgrade from 0.9.3 (working fine) to the new version 0.9.4. So I start Arduino IDE and update the 0.9.3 to 0.9.4 via Board manager. Close Arduino and download the new OAKCLi for windows and run it to configure the JSON. Fire again the Arduino IDE, set the board to OAK -pin 6 -default and send the basic "start" example (blink).

Upload took 45sec an

[2016-02-26 14:39] starwolf73 commented on #31
In case you guys didn't see, I post my experience on upgrading successfully my OAKS. It took a few hours of troubleshooting because it didn't work at all trying to upgrade my 10 oaks until I found some tricks that work for me. Let me know if it work for you guys.  http://digistump.com/board/index.php?topic=2046.msg9239#msg9239

Erik, Did you had a chance to look deeper at what I post?

[2016-02-26 19:50] digistump commented on #50
Thanks - attempting to duplicate this but I've rolled back to 0.9.3 while I look into it

[2016-02-26 21:36] Snudi opened #51 "Oak doesnt connect to particle"
Hi guys,
yesterday i received my Kickstarter box with 3 Oaks. I still have a particle Account cause i supported the electron project from particle. So i follow the instructions and after some rounds the 1. Oak was updated to System-Version 2. After that he should connect to the particle cloud. But then it stucked. The Oak doesnt connect to the cloud and also wasn´t seen as wifi device until then.

[2016-02-26 23:51] usmanatron commented on #32
@digistump  - sorry this has taken so long (work takes up all my time on the weekdays...)

I've managed to put everything together and I have a working prototype!  The latest version is available here: https://github.com/usmanatron/buildpack-oak/tree/OakCore-32.  When you start the container (see below), it builds the firmware and dumps it into /output with the logs.

At this point, I'd be gratefu

[2016-02-27 15:40] ImanolBarba opened #52 "Can't complete 0.9.4 firmware upgrade"
Hi,

I tried to update from 0.9.3 to 0.9.4

Things I did:
- Update to 0.9.4 in Arduino IDE, also downgraded to 1.6.5 as recommended.
- Git pull the OakRestore repo and flash the new firmware
- Try to configure the Oak using the softAP

Things that happened:
- The firmware flash and arduino IDE upgrade went fine
- I started the OakSoftAP (refreshing the cache in the browser) and managed to set the

[2016-02-27 21:37] starwolf73 opened #53 "How to see which version is installed and understand the version?"
Erik,
To help troubleshoot I'm trying to understand the behind step to take a green OAK and update it to 0.9.x. What is the difference between 0.9.x and the 2 (http://192.168.0.1/system-version) from the OAK?

Regards,
Eric

[2016-02-28 04:56] pfeerick commented on #52
So when you go to your [Particle dasbhoard](https://dashboard.particle.io/user/devices), does it show your device there, and is the round circle on the left side of the device ID grey or blue (or pulsing blue)... when the Oak is powered on of course! If so, it is online, and ready to program. You don't log in again to the Oak to set the particle credentials - the sequence is
1. Load SoftAP on your

[2016-02-28 14:52] ImanolBarba commented on #52
It wasn't online in the Particle dashboard because the credentials couldn't be set using SoftAP as explained.

I applied the 0.9.4 update before the rollback was announced.

I could checkout a different release and flash it again, I'm just opening the issue to acknowledge the problem and because the 2 other issues relating to the upgrade didn't specifically relate to this issue, which is that the

[2016-02-28 23:53] pfeerick commented on #52
Ok, I got you now. I don't actually think you have to log onto the AP again to get it to set the credentials - that part is only so the Oak can tell SoftAP that the firmware update was successful. I had the same problems with the Particle registration with one of mine, and just restarted the Oak a few times until it finished registration.

If you want the AP again, start up your Oak with pin 1 to

[2016-02-29 00:47] ImanolBarba commented on #52
I tried, and now it sets the AP after the OTA firmware update, but system version is 2, so I guess it downloaded the previous version because of the rollback

I guess we'll have to wait until they fix the issues and re-release to check

[2016-02-29 02:46] pfeerick commented on #52
System version 2 means it has updated the firmware, but I'm not sure what version it ships with... I seem to recall it being 0. The system version doesn't match up with the Oak core - not sure what the difference there is. So sounds like your problem is that for some reason it isn't registering on Particle, even though it has updated, and is connected to your internet / wifi. That is an Erik probl

[2016-02-29 05:10] pauln commented on #42
This seems to match what I'm seeing with the current firmware (either via OTA or manual update via serial) pretty closely, as per https://digistump.com/board/index.php/topic,2034.msg9260.html#msg9260 - no ACORN-XXXX AP is present.  The one difference is that I'm not seeing quite such a quick boot loop: when I plug it in to power, it spots out the following:

And then, a minute or two later, it app

[2016-02-29 06:05] pauln commented on #42
Further to the above:
- When I first tried to set this Oak up via OakSoftAP, I got through the connection to my network; the Oak connected to my network, downloaded the initial update, started the "new" blink pattern... but didn't start the ACORN-XXXX hotspot for me to connect to in order to continue the OakSoftAP process
- I've since tried using OakRestore followed by a fresh run through OakSoftA

[2016-02-29 09:13] ImanolBarba commented on #52
System version 2 is the version of the Beta 3 (AKA 0.9.3), so flashing the Beta 3 from OakRestore would now effectively get you back at Beta 3

Probably because they rolled back

[2016-03-01 18:28] tifarley commented on #47
Any updates?? How about giving us another oakupdate_restore.bin that will give slightly more meaningful debug information instead of just socket timeout?

[2016-03-02 03:39] pfeerick commented on #52
Indeed. It appears from a post from Erik last night the system version is intended to match that last digit of the Oak core version - i.e. 0.9.1 = 1, 0.9.2 = 2, etc..., with 0.9.3 mistakenly left at 2. Just to keep you on your toes! lol

[2016-03-02 03:40] pfeerick commented on #53
Just for completeness, Erik posted this on the forum last night, which answers your question. Can you close the issue since it isn't really an issue? Thanks.

[2016-03-02 04:20] #53 closed

[2016-03-02 04:24] starwolf73 commented on #53
Well the issue was that 0.9.3 was mistakenly not incremented and that explain the disparity  between the release and system-version we saw and didn't make no sense to us. Just closed the issue.
Thanks.

[2016-03-02 09:24] digistump opened #54 "BOUNTY: Find a workaround/fix for update issues - $1000"
**Skills Required:** System Admin, Node, C++, Linux Sockets, ????
**Difficulty:** Unkown

## Challenges/Thoughts:

**The technical limitations:** The firmware shipped on the Oak is solely there to let you configure your wi-fi and get the first update, it, of course - given the Oak does not have a USB interface, cannot be changed except for with this update, so any changes to make this work have to

[2016-03-02 09:43] digistump commented on #54
Relevant files as mentioned above:

Generic Node File Server with HTTPS:
[server.zip](https://github.com/digistump/OakCore/files/154426/server.zip)

Attempt at releasing chunks of file more slowly:
[server_with_delay.zip](https://github.com/digistump/OakCore/files/154427/server_with_delay.zip)

Firmwares to load after setting IP/Domain and Fingerprint, and source code of those firmware for referen

[2016-03-02 10:02] haakonnessjoen commented on #54
I think maybe file_chunk_write should wait for the write callback to respond, before starting the timer. That way you won't fill up a send buffer if the connection is slow. Which could cause a large burst of data to be sent on a slow connection, I would guess. And this is nitpicking; but getFileSizeInBytes is kind of redundant, since you just read the entire file. So file.length holds your answer

[2016-03-02 10:15] pauln commented on #42
My issue appears to have been resolved by the Beta 5 release.  Thanks for all the hard work!

[2016-03-02 11:55] epatel commented on #54
Sounds like the TCP stack in the firmware is broken, i.e. it can't request missing packages. I would hook up wireshark and look carefully of what is going on. If that can be verified (no re-sends are requested), maybe a solution creating a local network with a local server (i.e. in virtualbox or on a mobile device) could minimize package drop.

One way to capture with wireshark could be to share "

[2016-03-02 16:53] dale3h commented on #47
Still no dice trying to update my "problem Oak" from restore to 0.9.5:

**Router:** Asus RT-N66U
**Distance:** ~15m
**Power:** Belkin Powered USB Hub w/ LeGioN Meter

**Attempt 1:** failed with "SOCKET READ TIMEOUT"

[code]

**Attempt 2:** power cycled, failed with "SOCKET READ TIMEOUT"

[code]

**Attempt 3:** did NOT power cycle, failed with unknown error

[code]

**Attempt 4:** power cycled, fai

[2016-03-02 18:36] ImanolBarba commented on #52
Fixed in latest 0.9.5 firmware

[2016-03-02 18:36] #52 closed

[2016-03-02 22:50] jldeon commented on #54
Is there some way to get the source and replicate the build environment for the factory image?  I realize that the final solution must work with the image already flashed, but for debug it would be helpful to see the code on the Oak and make changes.

[2016-03-02 23:31] digistump commented on #54
The source is the same as attached in the second comment zip file
(oakupdate.zip) - just comment out #DEBUG_SETUP to get exactly what is on a
factory Oak

You can setup the environment to compile it by downloading the following
and unzipping into Documents/Arduino/Hardware/

https://www.dropbox.com/s/dgb4qf1cooz3oba/oak_fallback.zip?dl=0 (Note still
uploading right now, if you go to this link it w

[2016-03-02 23:46] jldeon commented on #54
OK, working on getting my environment set up.

Should I expect any response to the "set" commands from the factory firmware?

[2016-03-02 23:50] digistump commented on #54
Yes - just added, thanks for asking: The Oak should respond with {"r":0} if after each three lines (set, length, content) are sent - if you get {"r":-1} back then something is wrong with the input.

Also baud should be 115200

[2016-03-02 23:58] digistump commented on #54
@jldeon - just added some more notes on how to confirm these changes and about timeouts for sending it all, see just under the "set" codeblocks in the top post

[2016-03-03 01:19] jldeon commented on #54
I've got everything set up and running now, and I'm deep in debug land.  I think I've got a solid lead on part of what's going wrong, but not everything yet.  Will try to keep you posted, assuming someone else doesn't figure it out first :)

[2016-03-03 01:20] DarkLotus commented on #54
Just started to get things setup to have a play with this, but im in the horrible(joke) situation where my Oak's update fine a good 80%+ of the time. 9/10 in a row this morning. ( The digistump server im talking about )

I've even tried Enabling WPA2 and forcing wifi channel 1 as was advised against. I've also tried hammering my connections up/down stream while updating as well. My only other AP i

[2016-03-03 02:34] jldeon commented on #54
I've uncovered one major problem, and I believe the solution is fairly simple.  It seems like having one failure (ie, one bad connection to the update server) causes cascading failures for the Oak.

My fix should alleviate this:

[code]

endless loop.

It seems like the network stack is doing something silly, which is causing the server to become confused.  Basically, TCP connections are establish

[2016-03-03 02:34] jldeon commented on #54
Another way we can get stuck in this "NO CLIENT" state is if the web server tries to close the socket, but can't get the Oak to reply to its attempts to do so.  `/proc/sys/net/ipv4/tcp_orphan_retries` controls the number of times that a socket in the FIN-WAIT-1 state (ie, attempting to close) will try to tell the other side that it's closing the socket before just giving up.  The default is 8, and

[2016-03-03 02:42] digistump commented on #54
@jldeon - some great discoveries, thanks! - just wanted to note that we have been setting /proc/sys/net/ipv4/tcp_retries2 to 4 which seems to be a good balance between closing when it shouldn't and allowing frequent retries - this is noted at the top of the server.js file, but this was a shot in the dark - you certainly figured out why this is necessary. In general I don't mind if any of the setti

[2016-03-03 02:53] jldeon commented on #54
@digistump  Ah, should have looked at the node.js code :)  I figured you guys weren't going to do anything else on this box, which is why I suggested some of those OS-level changes.  I'm not sure how the kernel does math with that tcp_retries2 value, so I don't know what 4 means in the context of how long the socket will persist.  I'd suggest trying some of the other settings,  as those helped imm

[2016-03-03 02:55] digistump commented on #54
@jldeon before you implemented those changes were you getting SOCKET READ
TIMEOUT? that is the main issue that seems to crop up for many.

What server are you using to server it? Apache (version, etc?) or Node or
something else?

On Wed, Mar 2, 2016 at 6:53 PM, jldeon notifications@github.com wrote:

[2016-03-03 02:56] DarkLotus commented on #54
@jldeon Do you have any issues receiving updates from the official server though? My local server works fine as well, but I have no issues with the official so cant really debug.

[2016-03-03 02:58] jldeon commented on #54
@digistump I get the occasional SOCKET READ TIMEOUT, (10% of the time, or so?) in looking at the tcpdump when it occurs, the server is retransmitting the packet but it's not getting to the Oak (at least from the tcpdump on the server, I see no ACK).  I don't know that there's much that can be done about this, though, since we're dealing with wi-fi.

I'm going to keep digging on that, though, now t

[2016-03-03 02:59] jldeon commented on #54
@DarkLotus Yes, I tried last night and this morning to update with the official server on 2 Oaks, and it failed on every attempt.

[2016-03-03 03:00] DarkLotus commented on #54
Ah at least you can reproduce :) if you need a vps or anything to test from a remote server let me know.

[2016-03-03 03:01] jldeon commented on #54
@DarkLotus Thanks for the offer!  I think I've probably got it covered.  I've got a couple of VPSes, credit to AWS, credit to Azure...  probably some other junk if I dug around a bit :)

[2016-03-03 03:04] jldeon commented on #54
@digistump Totally flaked on your questions.  The box I'm using currently is Ubuntu 14.04.4 LTS, 32-bit, testing with Apache 2.4.7 (latest available in the Ubuntu repos) currently.

[2016-03-03 03:06] digistump commented on #54
@jldeon - when it failed on every attempt last night against the live
server, was it due to NO CLIENT or SOCKET READ TIMEOUT?

On Wed, Mar 2, 2016 at 7:04 PM, jldeon notifications@github.com wrote:

[2016-03-03 03:13] jldeon commented on #54
@digistump I was running the factory build, so there was no debug output.  I posted what I had to the forums: http://digistump.com/board/index.php/topic,2034.msg9360.html#msg9360

[2016-03-03 04:00] jldeon commented on #54
I can reliably reproduce the "SOCKET READ TIMEOUT" error by pointing my Oak at my VPS, and I've been digging into it for the last hour or so.

It doesn't look like an actual packet timeout, it looks more like some sort of weird conflict or maybe a race condition?  I see a lot of retransmitted packets on both sides.

I've got to sleep now, but I'll try and craft an experiment to test this tomorrow

[2016-03-03 05:22] DarkLotus commented on #54
If anyone is around ive spun up a CentOS 6 server with Apache 2.2 just in case reverting back to Apache 2.2 is the fix.

[code]

At least on my end i can confirm this works at 100% 5/5 times thus far.

Will setup a ubuntu 14.04 apache 2.4 setup next on the same host, and see if i can get some time-outs reliably happening.

[2016-03-03 10:16] igrr commented on #35
@digistump I realise this might not be exactly your plan, and this might not be exactly on topic here, but perhaps you would consider merging your changes into https://github.com/esp8266/Arduino project at some point. We are moving pretty quickly, fixing a lot of issues and helping users, so that would tick at least 3 out of 5 expectations above. Between these two projects we have a lot of shared

[2016-03-03 10:31] haakonnessjoen commented on #35
@igrr I am to sure how well that would work, as digistump is heavily merged with the Particle-cloud system, whereas I would guess the esp8266/Arduino project is more of a "stand alone" type project. So there would be a lot of code pollution merging the two projects?

[2016-03-03 10:33] DarkLotus commented on #54
[code]

This one is Ubuntu 14.04 with apache 2.4 All stock as well. Still I cant reproduce socket timeouts reliably, I start to wonder if its router chipset related or something.

[2016-03-03 10:53] DeuxVis commented on #54
When I see that there are more problems with high speed networks it kinda ring a bell for me : MTU !
Packet fragmentation might not be handled very well by simplified / old IP stacks. I remember it being a problem in the early days of DSL internet access.

So I don't have time to test it myself currently, but trying to lower the server network interface MTU might help there ?

On a different subje

[2016-03-03 12:51] DarkLotus commented on #54
@DeuxVis oak2.jameskidd.net is running with MTU set to 576 if you want to give it a shot.
and oak.jameskidd.net is running apache2.2 on CentOS 6 to try and match Erik's original server

[2016-03-03 15:36] DarkLotus commented on #54
I have 100% failure rate with the MTU lowered to 576, Socket read timeouts. So Packet size could definitely be a factor in this. Bed time for me, will look at it again tomorrow.

[2016-03-03 17:43] DeuxVis commented on #54
I will try that later at home. I just successfully upgraded one of my oaks on first try at the local hackerspace, so it's not the place for testing. The difference is that here we have a fairly recent DSL "box" (modem) while my home cable modem - where oaks fails to update - is probably a 10 years old design.

[2016-03-03 21:17] jldeon commented on #54
I've been digging into a dozen or so packet captures to try and figure out the `SOCKET READ TIMEOUT` issue.  It seems like the TCP stack on the ESP is not particularly great at handling packet loss.  Every time it fails, I see a pattern of packets dropped and multiple retransmissions of old packets and ACK packets going back and forth.  Eventually there hasn't been valid data in long enough that t

[2016-03-03 23:10] jldeon commented on #54
My Oak's been flashing from my custom server for a while now, I'm up to 37 successful transfers and 3 failures on the server side.  Much better than 0 successes last night :)

The serial logs show 4 `SOCKET READ TIMEOUT` messages, and a total of 14 failures (the rest being chain `NO CLIENT` failures)

EDIT: Hit 100 attempted transfers on the server side.  88 successes!  Attached is the serial log.

[2016-03-04 02:51] DarkLotus commented on #54
Just tried your setup out, First attempt failed at around 70-80% with socket timeout.
Second attempt failed a little earlier around 60% with socket timeout.
Third attempt failed a bit further than the second.
No "NO CLIENT" errors though.
[Log output](https://gist.github.com/DarkLotus/2930452caeffaf949cd9)

Seems strange i have almost 100% success when running off any of my VPS's hosted in austral

[2016-03-04 02:55] jldeon commented on #54
@DarkLotus do you have only B enabled on your router?  I've been testing with B/G/N and getting around 30-50% failure rate.  B only is closer to 90% or so.

[2016-03-04 02:59] DarkLotus commented on #54
Nope, im using B/G/N but from my own tests it made no difference with mine or eriks servers.

Can't disable G/N right now ( Got long running tasks connected over wifi at the moment ) though will be able to in a few hours time.

[2016-03-04 03:01] jldeon commented on #54
B-only has been about the change that made the most impact in my testing so far.  Can you keep attempting it even with B/G/N?  Would be good for just load testing if nothing else...

I can see your connections to the server and the failed transfers.  I'm busy at the moment, but I may be able to packet capture your attempts at some point, although I bet they're pretty much the same as mine.

[2016-03-04 03:07] DarkLotus commented on #54
Will do, little busy here as well but will keep pushing some attempts thru, will let you know once I've swapped over to B

[2016-03-04 05:12] DarkLotus commented on #54
Your servers returning internal error 500 btw. Which gives Update Success and then soft bricks the oak.

[2016-03-04 05:13] jldeon commented on #54
@DarkLotus Yeah, I just found and fixed a pretty major bug with concurrent connections.  Apologies for any inconvenience.  Your attempts to flash helped me find it :)

If one client failed to download, it was aborting all the download threads.  My bad for not fully understanding the way the objects were working in python twisted.

[2016-03-04 05:20] DarkLotus commented on #54
I think what ever you did might have solved it, 2/2 worked just now.

[2016-03-04 05:21] jldeon commented on #54
Nice!  I saw your attempts go through successfully.

I've got to sleep now, but I've set up 2 Oaks on my desk in the "silent" debug firmware loop that are flashing continuously.  I've had 1-2 failures over 25 or so attempts.  I'll leave everything overnight and check it in the morning.

Feel free to abuse the server in the meantime...

[2016-03-04 13:19] jldeon commented on #54
Overnight testing is complete, the server reports 713 total transfers, with 37 failures (so roughly ~680 successes).  I don't have serial logs to see the results from the client side, since my computer eventually fell asleep.  The Oak failure count is probably at least a bit higher.

I'll continue refining and testing today, but I could still use more testers pointed at the server...

[2016-03-04 15:03] thunderace commented on #28
I can replicate the issue on Win 10 64-bit, but not every time. I'm on it....

[2016-03-04 15:07] DeuxVis commented on #54
@jideon I will test your server tonight. Weekend finally arriving ! Note that my modem/router doesn't allow to disable B G or N.

@DarkLotus Is your server with reduced MTU still available ? I might test it as well.

[2016-03-04 19:25] rei-vilo commented on #47
Please find the trace of my failed attempts.
- CONNECT P2 - GND
- RESTORE FACTORY FIRMWARE
- REMOVE P2 - GND
- POWER CYCLE
- 1st ATTEMPT WITH LAN-1

[code]

- RETRY

[code]
- POWER CYCLE
- 2nd ATTEMPT WITH LAN-2

[code]
- POWER CYCLE
- 3st ATTEMPT WITH LAN-1

[code]

If the file is really 778096-byte long, it is too big to download, even at 15 Mbps. The update through the FTDI cable is a safer sol

[2016-03-04 19:58] ghost commented on #54
I previously tried to use beta 0.9.3 and the update worked pretty well.
Now I thought I'll go for 0.9.5, restored my Oak and tried the update a few times without success.
Then I read through the comments above and as it seemed like @jldeon has a server running with some improvements, I thought I will give it a try.
Result: Update worked on the first try

If more testers are needed, I think I could

[2016-03-04 20:25] jldeon commented on #54
@fri-sch sure, if you can test and capture your serial output for a while, that'd be a useful data point.  Any info about your router and your connection to the internet would be helpful as well.

I've got 2 oaks running in a continuous loop against my server testing today.  Server logs indicate around 400 successes (including fri-sch's attempts) and around 61 aborts before the file was completely

[2016-03-04 22:17] epatel commented on #54
@jldeon Great work! I think the hotspot test sounds interesting, if one could get a small server running on the hotspot device (well, not sure that is really within the requirements) that could be a way to minimize packet loss. The package only needs to travel over the one "link". Lowering the MTU would increase number of packages, and could maybe increase the probability for packet loss.

edit: M

[2016-03-04 22:29] ghost commented on #54
@jldeon the update loop is running for some time now and I will leave it on for the night.
My router is an AVM FritzBox 7362 and wifi is setup for b+g+n and uses channel 4.
Let me know if you need any more info...

[2016-03-04 22:40] jldeon commented on #54
@epatel Yeah, I was considering the possibility of deploying a small HTTP server on people's device or local network or something.  The problem is SSL.  The factory firmware has the domain and thumbprint of the digistump server baked in, and it seems like it can only be changed via serial (which not everyone has).

I'm not an SSL expert, but I believe that means we'd have to distribute copies of t

[2016-03-04 22:53] epatel commented on #54
@jldeon Ah, thought there was some flexibility on setting the loading params as they described. I thought it maybe could be possible to do self signed certs for the hotspot device local address. But then, could it be possible to make a buffering proxy/router? The goal I am thinking of is to eliminate any package loss from wan transport.

[2016-03-04 22:53] digistump commented on #54
@jldeon, @DarkLotus - awesome work so far, many thanks for all the effort
you are putting into this!

And thanks for all of those helping test as well!

@epatel, @jldeon - The domain, url, and thumbprint can all be changed over
http as well, so those can be changed by the config web app if needed. Of
course, a remote server is preferred but certainly a remote server setup
that was as good as it po

[2016-03-04 22:59] digistump commented on #54
Maybe a self-signed cert for 127.0.01 with an app wrapper that download the
latest firmware and latest config web app and then runs a local server and
presents the web app to the user?

On Fri, Mar 4, 2016 at 2:53 PM, Edward Patel notifications@github.com
wrote:

[2016-03-04 23:02] ghost commented on #54
@jldeon: I had a quick look and for the first 108 updates I have 70 successful and 38 failed.
Out of the 38 failures 26 were `COULD NOT CONNECT TO UPDATE SERVER` (so the update didn't start) and 12 were `SOCKET READ TIMEOUT` while updating.

And I noticed, that most of the failures occured while the wifi network was used by other devices, that produced additional traffic.

I'll be back tomorrow wi

[2016-03-04 23:27] jldeon commented on #54
@digistump Oooh, I didn't realize!  My "custom server" is just a bit of python.  It should be possible to deploy it in such a way that people can run it locally on whatever platform.  Once we have the kinks worked out, we can work on packaging it.

Do you have a list of all the parameters we can change via the setup app?  There might be something else in there we can use.

[2016-03-04 23:29] jldeon commented on #54
@fri-sch That sounds about in line with my testing.  The `COULD NOT CONNECT TO UPDATE SERVER` errors probably follow the `SOCKET READ TIMEOUT`s.  The looped updates run fast enough that the server socket doesn't have time to close before the next attempt occurs.

[2016-03-04 23:34] digistump commented on #54
claim code ("cc"), device-id, meta-id, meta-data (both metas
unused), first-update-domain, first-update-url,
first-update-fingerprint, server-address
(particle server), server-address-type, server-public-key

are the things that can be set - so probably not much else useful there

Any idea what kind of load the little python server can handle?

Ideally it would be if I made the config app do somet

[2016-03-04 23:39] jldeon commented on #54
@digistump Hmm, yeah.  I was hoping for a timeout or wireless radio mode parameter.  Rats!  What's the format of the request to change the fingerprint and domain parameters?

The Python server is based on Twisted, and so it ought to scale reasonably well under load.  I can try load testing it a bit to see how many concurrent connections work before we start to throttle, although it's probably goin

[2016-03-04 23:47] digistump commented on #54
same json as over serial - just as a raw json post to 192.168.0.1/set

sounds like your server should be fine - we probably need to be able to
handle like 50 concurrent, not 5000 or anything

On Fri, Mar 4, 2016 at 3:39 PM, jldeon notifications@github.com wrote:

[2016-03-04 23:58] jldeon commented on #54
OK.  I'll start working on a standalone, downloadable version for local flashing to compliment the "backup" server.

When you guys need my code, let me know.  I haven't published it publicly yet so that someone else doesn't totally steal my hard work (:P) but I can email it to you whenever.  When everything's ready, I plan to open source it and/or give you guys whatever license on it you want.

[2016-03-05 04:20] jldeon commented on #54
I have a working standalone server based on my "improved" https server in python.  It needs a bit of cleanup, but hopefully tomorrow I can put a ZIP file and some instructions up for folks to test out.

[2016-03-05 10:13] ghost commented on #54
@jldeon You're right, the `COULD NOT CONNECT TO UPDATE SERVER` errors follow after `SOCKET READ TIMEOUT`, so I won't count them in the following summary of my overnight test loop:

update runs: 574
update ok: 426
update failed because of `SOCKET READ TIMEOUTS`: 148
success rate: ~74%

[2016-03-05 10:42] ghost commented on #54
I don't know if this means anything, but during my test run I had one single failure that threw an exception:

[code]

[2016-03-05 22:24] jldeon commented on #54
### EDIT: There is now an official build/release of this tool from Digistump, [visit this page](http://digistump.com/wiki/oak/tutorials/local_update) instead of using the instructions in this comment.

---

Okay.  This is "it."  Still very beta, testers needed.  I've built a standalone and/or server hosted solution that you can play with.

Code is in [this repo](https://github.com/jldeon/OakSoftAP

[2016-03-05 23:33] epatel commented on #54
@jldeon I am very impressed :+1: Think it looks really good considering the short time. I hope it also helps, do improve the update statistics. May I ask where you work? you need a job?

[2016-03-06 00:06] jldeon commented on #54
@epatel Thanks!  For me, using a local Linux server is about as good as my AWS instance.  I have good (200mbit) internet, though.  Hosting your own update server will probably help more for folks with less reliable internet.

I am, in fact, gainfully employed :) I'm a senior firmware engineer in the CTO group of a videoconferencing company, I do a lot of prototyping and research-y stuff.  What kin

[2016-03-06 09:55] epatel99 commented on #54
@jldeon Ah figures, you being senior and having a good gig already. I am pretty senior too, Lead Dev/Architect here at Mag+. Wish I had had time to get dirty with this challenge, I like challenges, especially when one need to think outside the box. But, I very much enjoyed the show, and the collaboration everyone pitched in with. http://www.fastcompany.com/3031498/hit-the-ground-running/problem-so

[2016-03-06 15:18] jldeon commented on #54
@digistump My solution(s) work around a few bugs in the update code, which makes the initial update a bit more reliable.  However, going forward, it would be best if those bugs in the update code could be fixed.  That way, at least subsequent updates would be far more likely to succeed.  Is that feasible?  Is that part of the .bin that is downloaded from the update server?

I'm still not 100% clea

[2016-03-07 00:21] AtomicCat commented on #54
I'm trying to debug the "Unable to connect or save settings to your Oak" problem where you can't even get the Oak to connect to your WiFi network. Using Charles and Postman, I've narrowed it down to how the configure-ap JSON parser is handling my SSID name.

I've grabbed the source for OakSystem, oak_fallback (from above), and oak_update (from above). I'm using Arduino IDE 1.6.5 and installed the

[2016-03-07 00:34] jldeon commented on #54
@AtomicCat I might be able to help somewhat, but let's take this over to [the Digistump Oak forum](http://digistump.com/board/index.php/board,20.0.html) so that other folks can find the info - it's kind of tangentally related to the problem this issue is trying to address.  If you make a post over there, I'll give you what I know :)

[2016-03-07 01:03] pfeerick commented on #47
Hey @rei-vilo - what you you mean by "too big to download, even at 15Mbps" - by my calculations, at 15Mbps, it would take less than half a second to download 778096 bytes! The bottleneck is how fast the ESP8266 can clear and write the saved data.

And if you are trying to get an Oak to update so you can use it, trying retrying another 2-3 times (with power cycles) on your LAN-1, as it seemed to be

[2016-03-07 01:25] jldeon commented on #54
@fri-sch Doing some digging into the occasional stack traces I get like that.

[code]

I used objdump on my shiny new oakupdate binary to get the full disassembly:

`path\to\xtensa-lx106-elf-gcc\bin\xtensa-lx106-elf-objdump.exe -d oakupdate.cpp.elf`

(I had to pull oakupdate.cpp.elf from the Arduino IDE build directory under %TEMP%)

The exception 28 means [LoadProhibited](https://github.com/esp82

[2016-03-07 02:53] AtomicCat commented on #54
@jldeon I've started a thread for building OakSystem at [How to build OakSystem](http://digistump.com/board/index.php/topic,2068.0.html).

[2016-03-07 04:49] rei-vilo commented on #47
I've already tried 6 times with power cycles, to no avail.

[2016-03-07 08:11] digistump commented on #54
@jldeon - Sorry for my absence in this thread this weekend, it's been a busy one around here.

The bounty doesn't require fixing the issues in the firmware itself because that firmware is a one time use updater - after this first update all future updates occur through the Particle cloud using totally different firmware that seems to be pretty darn reliable for everyone. In addition, the next run

[2016-03-07 10:11] pfeerick commented on #54
@jldeon Nice work!! Thank you! Thank you! All hail jideon... the Oak Update God!! xD I can say on my end, with Windows 10 Pro x64 as the server, and my wifi configured normally (WPA2 TKIP+PSK, N) that updating via the custom local server is the first time I have had a new Oak update first time out of the box. I did try your AWS server by OakRestoring the updated Oak, and picking your server via th

[2016-03-07 14:06] jldeon commented on #54
@digistump No worries! :)

I did dig into the firmware a bit to figure out as close as I could to the source of all the issues, I'll summarize in another post so that perhaps someone can learn from this or if the issues come up again we'll have whatever I learned from my investigation.

Woo!  Bounty!  Awesome.  Yes, I'll stick around and help, clearly.  Code's all up in the repo I linked above, fe

[2016-03-07 14:06] jldeon commented on #54
# Error Analysis

## `NO CLIENT` error

As far as I can tell, this is due to client port reuse in the WiFiClient in the ESP8266 libraries.  It's probably fine if you're making multiple connections before you reset, but our loop of connect->reset->connect causes the same port to be used every time.

The easy fix from the Arduino/Processing code level is:

[code]

This is probably just a good "best

[2016-03-07 21:14] usmanatron commented on #32
Good evening @digistump,
I've done the majority of my testing now; as part of this I removed all of my old Docker images and built the image from scratch - all went fine.  I've also run the image using a slightly different command to what I gave above (essentially "-d" instead of "-i -t" and renamed the images):

[code]

This has given me a firmware file which Im now attempting to flash via the Ar

[2016-03-08 02:40] pfeerick commented on #54
@jldeon nice error analysis... hope it helps in resolving the issues that people have encoutered.

Yeah, I don't know what the go is with my connection - I suspect it is more MTU / packet related, as my internet connection is pretty stable, and the Broadcom chip in the modem seems to be rock solid for the wifi. I have to other ESP modules running 24/7 posting temperature stats to thingspeak, and t

[2016-03-09 11:32] digistump opened #55 "Merge Oak into ESP8266 Arduino project"
Continued from #35:

[2016-03-09 11:34] digistump commented on #35
@igrr - thanks for commenting, it has been on my todo list for way to long to write something similar over on your project.

First of all, thank you for your countless contributions to the ESP8266 community, and therefore the Oak. I wrote some prototype Arduino cores for the Oak during its development, so I know how difficult given the ESP documentation, quirks, etc that is - and your core is far

[2016-03-09 11:35] digistump commented on #35
Closing this issue - thank you to the volunteers! Due to the upcoming public release and much more reliable config tool I think we're going just remain at the helm of all the parts for now as handing it off would likely take more time than continuing on. Thanks again!

[2016-03-09 11:35] #35 closed

[2016-03-09 11:38] digistump commented on #32
@usmanatron - This is awesome! I apologize for the delay in getting back to you on this. This setup looks great and I'll test and have Particle test ASAP. Please send me an email at support@digistump.com to claim the bounty (and let me know which form you want it in).

As soon as I test I'll get back to you about any changes, but the requirement to update the dockerfile for new releases is fine as

[2016-03-09 11:38] #50 closed

[2016-03-09 11:39] digistump commented on #31
Continued in #54

[2016-03-09 11:39] #31 closed

[2016-03-09 13:10] igrr commented on #55
Erik,
Refactoring our core to accept different bootloaders and ROM layouts is certainly doable. Particle integration might fit into variant folder, and we can add that variant as a git submodule/subtree of esp8266/Arduino repository.
Having the ESP8266WiFi library in the core directory might also be achieved by moving it into variant folder.
I see that you use a different flash tool, but that coul

[2016-03-09 21:01] alfem commented on #54
I am not sure if this is related to the discussed issue, but I have seen the SoftAP SSID corrupted in my tests today.

At home I have got only a couple of wifi networks, and my Oaks connect and get their update perfectly.

But I took one of them with me this morning (to impress my coworkers). When I tried the update process, my linux laptop detected an ACORN-0bda41 SSID, started a connection, laun

[2016-03-10 04:47] digistump commented on #55
We use three different tools:

Esptool2 (https://github.com/raburton/esptool2) - which we use for making
the bin file because we need the irom checksum embedded in the bin for
verification of the OTA programming.

Esptool.py instead of Esptool-ck for serial uploads because Esptool.py sets
the first byte in flash memory to the the size of the memory chip, which is
needed for our bootloader to allow

[2016-03-10 07:13] TomKeddie commented on #54
Thanks, this worked for me where nothing worked before (including serial recovery).

I used the digistump server.

Much appreciated.

[2016-03-10 08:12] thunderace commented on #28
I made a pull request for OakSystem with a bug fix in the ssid_ap buffer (too small, you need anaother char for the terminal 0).
Perhaps it will fix this issue. To be tested.

[2016-03-10 08:47] DeuxVis commented on #54
@alfem I have experienced the same thing multiple time at home, extra non-printable character at the end of the acorn SSID. There are a lots of WIFI networks too here, I live in a large residential building.

I have not been able to make my USB/serial adapter talk to the oak yet, so cannot provide more details currently.

[2016-03-10 09:02] igrr commented on #55
esptool-ck can set flash size in binary image header while building the image. This is unlike esptool.py, which sets flash size when it is uploading the image. See [readme](https://github.com/igrr/esptool-ck/blob/master/README.md), `-bz` argument.

Before replacing esptool.py with esptool-ck for the uploading stage, i would recommend you to try uploading to the Oak on all three platforms. I don't

[2016-03-12 05:26] pfeerick commented on #55
@igrr Oak uses an externally connected, user provided, USB-UART, so that shouldn't be an issue (that and the constant encouragements to use CH340s when the FTDIs play up)! So it sounds like for a change from esptool2 -> esptool-ck  that it is probably just the irom checksum embedding that needs to be there.

[2016-03-12 16:31] DeuxVis commented on #47
Leading garbage (wrong serial speed ?) removed

[code]

[2016-03-12 18:04] DeuxVis commented on #54
Sorry for delay. Here are some unsuccessful attempts logs against your server jldeon. I will do more tests later with improved wifi environment.

[jldeon_server.logs.txt](https://github.com/digistump/OakCore/files/170528/jldeon_server.logs.txt)

[2016-03-14 21:10] DeuxVis commented on #54
Attempts against the digistump server, with the new softapp, still fails for me at home. Some socket read timeouts and some unability to connect to the server.

Note that the first (fast) update went way more far than what I have experienced on the official server until now.

[Official_server_new_SoftAP.logs.txt](https://github.com/digistump/OakCore/files/172851/Official_server_new_SoftAP.logs.txt

[2016-03-14 21:40] jldeon commented on #54
@DeuxVis looks like you're getting `SOCKET TIMEOUT` errors, followed by `NO CLIENT` errors.  I'd expect the `NO CLIENT` errors right after a `SOCKET TIMEOUT` as I've said in the past, due to the Oak's port reuse.

The `SOCKET TIMEOUT` errors usually indicate at least a temporary packet loss situation, either on the wireless link or between you and the server.  The slower transfer rate and tweaked

[2016-03-15 09:41] DeuxVis commented on #54
Thanks for your reply @jldeon

To clarify, I am not looking for help to get my oaks updated, I can do that by serial or by using another wifi router/internet connection.
As I am still experiencing the problem I was hoping to help diagnose it, is that still needed or is the current solution considered good enough ?

I will try a local instance of update server next, should help narrow down where th

[2016-03-15 18:48] fbrinker commented on #47
My short story:
I have three devices. Tried to power them by a mobile micro usb loader. All three failed multiple times(x). Connected one to the PC. Failed multiple times(x). Moved one oak with a powerbank a few rooms away (~30m), tried multiple times(x), no chance to update the firmware.

So i soldered the headers to the boards, upgraded on oak1 the firmware via Uart Adapter and afterwards (conne

[2016-03-15 18:55] rei-vilo commented on #47
The biggest problem is the Oak isn't reliable. I've given up.

[2016-03-15 20:48] fbrinker commented on #47
@rei-vilo wouldn't say so - the _only difficulty_ (and a frustrating start) is to update the firmware to v1. After flashing the last one with my Uart adapter, they work fine... even installing my scripts over the cloud via Arduino IDE -> Particle.io -> My Oak

But yeah... without an Uart adapter... i guess it would have been impossible :(

[2016-03-16 03:14] exeng commented on #7
Updated the level shifter shield tutorial to reflect the pin reversal for GND and P1 on the center servo header. Here is an image for the DokuWiki showing the correct pin positions for GND and P1. Large, Medium and Thumbnail images provided.
[Oak-Level-Shifter-Shield-24-t-m-l.zip](https://github.com/digistump/OakCore/files/175232/Oak-Level-Shifter-Shield-24-t-m-l.zip)

[2016-03-16 18:56] jwhendy opened #56 "Possible to use Arduino Uno as a 3.3v UART?"
Greetings,

I have two oaks that successfully updated and accepted flashing from `arduino` via particle.io, however upon [some subsequent activities](http://digistump.com/board/index.php/topic,2077.msg9504.html#msg9504), they've stopped staying connected to wifi. I'd like to try restoring them, but don't have a 3.3v UART (I have one on order now, but am impatient!).

I wondered about using an Ardu

[2016-03-16 21:55] DeuxVis commented on #56
Someone else on the forums reported using that successfully, and I don't see any divider resistor or level shifter in his setup picture : http://digistump.com/board/index.php/topic,2036.msg9266.html#msg9266

[2016-03-16 23:08] jwhendy commented on #56
Thanks for that @DeuxVis ! I can confirm it works, though the arduino's labeling is a bit misleading (I initially thought it was backwards, but I can't fathom that...). Namely the pins are labeled:
- `TX -> 1`
- `RX <- 0`

So, per [the instructions](https://github.com/digistump/OakRestore) I:

I'm thinking the labels meant that pin 1 on the arduino is to _receive_ the TX of another device, and vic

[2016-03-16 23:08] #56 closed

[2016-03-17 00:10] jwhendy commented on #56
Just to confirm, the pin labeled `RX <- 0` on the arduino _definitely_ goes to pin 3/RX on the oak. I'm not sure who's backwards, but it's definitely confusing. This setup worked for me:

[code]

I have pictures of the setup. I assumed the oak pins were correct and thus used the voltage divider on the arduino p0/RX with TX going straight to TX on the oak. Like so:

[code]

I originally used a 220

[2016-03-17 02:26] jwhendy commented on #56
Bah! Finally dawned on me! So for an actual UART, the instructions are correct.

[code]

But I'm connecting to the oak _through_ an arduino board, which means the first leg of the trip is like this:

[code]

To use the computer's TX signal as an example, we would want this to reach the RX pin on the Oak. Since that signal comes into _RX_ on the arduino, we want the RX port on the oak connected _th

[2016-03-17 05:20] jwhendy commented on #33
I can't fix it, but I thought I'd report something that might have bricked my oak :( While you make it clear that ESP8266 libraries aren't tested, I just loaded up the Examples > ESP8266Wifi > WifiWebServer example and tried to program it over serial as [described here](http://makezine.com/2015/04/01/installing-building-arduino-sketch-5-microcontroller/).

Just hung at `Flashing .......` forever.

[2016-03-17 08:58] DeuxVis commented on #56
Yeah I'm pretty sure a nice visual tutorial on this use case would help : There is probably a fair amount of people out here who already have an arduino but no USB/serial adapter, and reading your last posts here, I believe some clear instructions on the wiring would be welcome.
Thanks for your time if you write one.

[2016-03-17 13:55] jwhendy commented on #56
@DeuxVis [Started one](http://digistump.com/wiki/oak/tutorials/serial_through_arduino)! Got a little carried away with some background on voltage dividers and now I need to get to work, but I'll update with a picture of my setup later today, possibly with a Fritzing as well.

While it's probably not necessary, I thought the voltage divider method should be the "official" recommendation, with citin

[2016-03-17 14:33] DeuxVis commented on #56
Yes the above explanations are fine. Maybe introducing by explaining the arduino board is only used as a passive bunch of wires, and doesn't need an active behaviour (no programming) would be good.

[2016-03-17 16:02] jwhendy commented on #56
@DeuxVis Will do. In fact, I used mine with no board (just how I'm used to when I'm flashing an atmega328 on a breadboard through the Uno). One could jump resent to gnd as well. In addition to the explanation, hopefully that will get the point across (no brains in it).

[2016-03-18 04:18] jwhendy commented on #56
Tutorial [finished](http://digistump.com/wiki/oak/tutorials/serial_through_arduino).

[2016-03-18 04:22] jwhendy commented on #39
Not sure it counts as a starter or ultimate tutorial per se, but just wrote a guide for connecting to the Oak via serial through an Arduino Uno. I was primarily interested since I didn't have a 3.3v UART but did have an arduino. I figured a lot of others could be in the same boat so after successfully using a chip-less Uno to apply OakRestore, I wrote it up.

Links:
- Got some helpful input and in

[2016-03-18 08:34] DeuxVis commented on #56
Excellent ! And you've gone beyond expectations with that pot reading sample sketch. Thanks.

[2016-03-18 20:40] emardee commented on #56
jwhendy,  Looking good from here. Only suggestion I'd have would be to drop the link to your tutorial down 5 places on the Oak wiki, so it sits between the link to the tutorial for bus pirate, and the one for loading firmware by serial. Seems that would be the best place for the link.

[2016-03-18 20:49] jwhendy commented on #56
@emardee Done! Actually missed those, so hopefully mine isn't too redundant...

[2016-03-19 02:23] pfeerick commented on #54
Hey @jldeon, can you update the version of the firmware your custom server is pushing please? It appears to still be hosting the 0.9.5 / 5 core, instead of the more recent 1.0.0 / 6 core. I can update from your server just fine while the official server is giving me the 'SOCKET TIMEOUT' errors, but I then end up having to update (again!) using the local server to get 1.0.0 / 6. Interestingly, on t

[2016-03-19 03:08] jldeon commented on #54
@DeuxVis I don't know that there's much more diagnostics that would be helpful at this point.  I think I know why the errors are occurring, and beyond fixing the factory firmware (which is impossible and/or useless) I don't think I can do a better job of working around them.

@pfeerick Firmware file is updated & the server on my AWS instance has been restarted.

while we're on the subject...

@dig

[2016-03-19 10:14] digistump commented on #54
@jldeon - yes at oakotafallback.digistump.com - and the config app now points to it automatically if the first server update fails (and then refers people to this tutorial if that fails too: http://digistump.com/wiki/oak/tutorials/local_update)

For our fallback server I used your python code tweaked for running on a remote server, and ran your linux tcp settings file - anything else you did to se

[2016-03-19 10:14] #54 closed

[2016-03-19 15:21] jldeon commented on #54
@digistump Gotcha.  I've edited my fork and the comments on this page so they point there instead of to my AWS instance.  I'll take the AWS instance down here in a bit.

I didn't do anything else to my AWS instance except for what's in the Python script and the TCP parameters shell script.

You're quite welcome!  Glad I could help.  I'll send you guys an email here this weekend, got to run off to

[2016-03-19 16:01] DJFliX commented on #39
I'm working on a button tutorial, explaining both digitalRead and interrupts. I have the text, but did not include the Fritzing yet, as I'm currently out of time. Sorry about that. Will be working on the rest tomorrow:
- [x] Use the Oak Fritzing part (to get it see #38) to put together a simple Fritzing connection graphic of a basic lesson that can be done with the Starter or Ultimate kit.
- [X] P

[2016-03-19 19:55] jwhendy commented on #39
**Update 3/25:** Done with all of the below; if you find anything, feel free to let me know or edit at will, and feedback is welcome!
- [x] [blink](http://digistump.com/wiki/oak/tutorials/blink): stuck to just the on-board LED. As the very first sketch ever, gives opportunity to just verify a working environment and ability to flash a sketch to the Oak
- [x] [LED basics](http://digistump.com/wiki/

[2016-03-19 19:59] jwhendy commented on #39
@DJFliX Nice! If you need any help on the Fritzing, I could do the pulldown vs. float one. No pressure to accept... just throwing it out there.

Regarding the pulldown stuff, I used to do this until I [found out](https://www.arduino.cc/en/Reference/PinMode) one could do `pinMode(n, INPUT_PULLUP)`. I use this exclusively so I don't have to use physical resistors... [old content snipped].

**EDIT:**

[2016-03-20 01:49] jwhendy commented on #39
@DJFliX Had to make some Fritzing's myself and made a floating vs. pulldown button example for you. Your choice to keep or re-do. Hopefully I got close to what you were looking for there.

[2016-03-20 11:16] DJFliX commented on #39
@jwhendy Thank you very much! I don't have any experience in Fritzing at all, just got to creating an image of the set up. Thanks a lot for adding the pullup/pulldown images! The internal pullup/pulldown functionality would be awesome, but because this is a breadboard/tinkering type of lesson I thought it would be better to explain the pullup/down mechanism with physical parts first. It's a "hello

[2016-03-20 12:05] DJFliX commented on #39
RE: http://digistump.com/wiki/oak/tutorials/button
@digistump Erik, I've made some changes in the text and uploaded both instructions to build the circuit and the Fritzing image of the circuit. @jwhendy kindly provided examples of a pull-down and a direct connection of a button to the Oak. Could you (swiftly) have a look at the page and tell me if there's anything missing, or anything you'd like m

[2016-03-20 14:42] jwhendy commented on #39
@DJFliX: no problem at all. With just a couple of components it went fast :) Nice work, really liked your layout/format.

[2016-03-20 21:04] exeng commented on #39
I will claim the Temperature Sensing and the 1-Wire Bus tutorial.  Draft is ready. Just need to transfer to DokuWiki and do some final tests.

[2016-03-21 00:56] exeng commented on #39
Here are the images for the Temperature Sensing tutorial.
[Oak-Temp-Sensing-1-Wire.zip](https://github.com/digistump/OakCore/files/181586/Oak-Temp-Sensing-1-Wire.zip)

[2016-03-21 22:36] digistump commented on #28
@thunderace - have you tested this any more to see if it was fixed for you? Like you I can't reproduce every time. If you have seen it as fixed and no one else reports it as persisting after 1.0.0 update then you've won this bounty. Please email me at support at digistump dot com and let me know what form of payment you'd like.

Closing, anyone feel free to re-open if you see this persist after up

[2016-03-21 22:36] #28 closed

[2016-03-21 22:36] #16 closed

[2016-03-21 22:36] #8 closed

[2016-03-21 22:36] digistump commented on #8
Works

[2016-03-21 23:13] digistump commented on #39
@DJFliX - that is a great little tutorial and laid out perfectly, thank you! Please email us to claim the bounty. 150R is fine, using the external LED was perfect and a great way to build on the LEDs tutorial that will be before that.

@jwhendy - thanks for doing those two tutorials, they look good. Could I ask you to format them to follow the sections and formatting recommended here: http://digis

[2016-03-21 23:21] jwhendy commented on #39
@digistump Will do, and sorry about that! I saw the note on formatting initially but it just took me to the wiki syntax. Missed the template above... I'm in the process of writing a more advanced LED tutorial, want to write an intro to `Particle.function()`, and one on pushing something to the oak with `python` to complement the other one I did.

Any other feedback is welcome... I'm reasonably new

[2016-03-21 23:25] digistump commented on #39
@jwhendy No problem, I apologize if the formatting expectations weren't clear.

The most basic steps are the goal of these tutorials since they are for the "Starter Kit" which we found generally sold to people with zero or nearly zero electronics experience (with some exceptions of course)

[2016-03-22 00:06] exeng commented on #39
Erik, sorry for creating the tutorial using the wrong template. With regard to the content being moved to the shield tutorial, the images do not include the temp shield but rather are fritzing diagrams of the Oak and the required discrete parts (i.e. pull-up resistor and DS18B20). The only generic image that could be applied to the temp shield tutorial is the first one as it is a screen shot of th

[2016-03-22 00:36] exeng commented on #7
Did a minor edit to the Temperature Sensor (1-Wire) Shield tutorial to correct the hyperlinks in the Advanced Usage with the Oak section recently added. These were broken.

With regard to the image place holders. What needs to be done? These were uploaded as zip at Bounty #39. They could just a easily be removed without effecting the tutorial.

[2016-03-22 03:46] exeng commented on #39
OK, I will claim and take another stab at the Temperature Sensing and the 1-Wire Bus tutorial for the Kit lessons.

[2016-03-22 07:14] exeng commented on #39
OK, completed the Oak kits Temperature Sensing 1-Wire lesson. Images have been included in the Wiki as instructed.

Do not use the Oak-Temp-Sensing-1-Wire.zip images that I previously sent for any tutorials as I discovered that my connections to the DS18B20 were backwards in the files sent.

Let me know if you need anything else.

[2016-03-22 07:42] exeng commented on #39
Erik, I will fix the images for the advanced example in the Temperature Sensor (1-wire) Shield tutorial and try and get those in tomorrow. Oak Kit is done as previously mentioned.

[2016-03-22 15:42] exeng commented on #39
@digistump
Erik, There is a problem with the thumbnail for the circuit image in the Kit Temperature Sensing lesson. During editing I updated the image which is shown correctly when selected to link to the original but the thumbnail that is shown in the Wiki page is the old one. Can't figure out how to fix.

[2016-03-22 16:08] exeng commented on #39
@digistump  Erik,
OK, The image is correct now. Done! I hope.

[2016-03-22 20:19] thunderace commented on #28
Yes, many tests and i can't reproduce it, i think it's fixed. Thank's for the bounty.
I have a new pull request  for the OakSystem (some potential bugs). I'll pull it this week.
Regards.

[2016-03-22 21:55] digistump commented on #28
Awesome - thanks for all your contributions!

On Tue, Mar 22, 2016 at 1:19 PM, thunder notifications@github.com wrote:

[2016-03-22 23:21] exeng commented on #7
@digistump Erik,
[Oak-Temp-Sensing-1-Wire_Img.zip](https://github.com/digistump/OakCore/files/185156/Oak-Temp-Sensing-1-Wire_Img.zip)
Here are the corrected images for the Temperature Sensor (1-Wire) Shield tutorial Advanced example/tutorial. If you want me to place them directly in the Wiki let me know. Placeholders are in the Wiki.
exeng

[2016-03-23 01:25] digistump commented on #7
Thanks'd be great @exeng if you can add them directly to the wiki - thanks!

On Tue, Mar 22, 2016 at 4:21 PM, exeng notifications@github.com wrote:

[2016-03-23 05:14] exeng commented on #7
@digistump Erik, the images have been placed in Wiki.
BTW have you seen the kit Temperature Sensor tutortial/lesson? Finished it last night. Hopefully it meets that lesson template guidelines.
Each should be complete now. Let me know if you anything else.

[2016-03-23 22:12] digistump commented on #18
This option is added in 1.0.1 coming out now

[2016-03-23 22:12] #18 closed

[2016-03-23 22:13] digistump commented on #42
This should have been resolved by the last few releases, closing, feel free to reopen if it persists

[2016-03-23 22:13] #42 closed

[2016-03-23 22:14] digistump commented on #51
I'm going to close this as troubleshooting wikis and forum posts on how to solve these issues, plus new releases that solve them have all occurred since - digistump.com/wiki/oak or digistump.com/board if you are still having issues with it

[2016-03-23 22:14] #51 closed

[2016-03-23 22:16] digistump commented on #47
Closing given the many ways to troubleshoot this now and logs not revealing anything new at this point:
digistump.com/wiki/oak

[2016-03-23 22:16] #47 closed

[2016-03-23 22:16] #44 closed

[2016-03-23 22:29] emardee commented on #18
Thanks Erik. Look forward to playing with that!

[2016-03-24 01:31] intheorystudios commented on #7
Eric, As promised, I just finished the Making your own Oak Smoke Detector+ tutorial.  And here are the images.  Hope I did everything right. Let me know if I need to change anything.  Thanks!
[Oak Smoke Detector Plus.zip](https://github.com/digistump/OakCore/files/187120/Oak.Smoke.Detector.Plus.zip)

[2016-03-24 05:24] Snudi commented on #51
Sure, sorry for that mess
Greetings from Germany,
Ruediger

Von meinem Handy gesendet

[2016-03-24 12:17] dominicjordan opened #58 "Oak updated but not added to particle"
Not sure if this is the right place for this, correct me if I'm wrong.

I have updated and added my oak to my particle account. When I power on my oak it is burst blinking 3 times (I guess this is the config mode). I can't connect to the oak wifi network anymore, it is not showing. Also when I use the Particle cli I get the response that no devices are connected to my account.

What to do?

[2016-03-24 17:34] viacommits commented on #7
Hi everyone, I'm working on the LiPo Shield tutorial and will be posting it soon.

[2016-03-24 21:55] viacommits commented on #7
@digistump Hey Erik, the LiPo Shield tutorial is complete.  I was hoping you could fact-check me with the 6-pin header the board includes, though.  The Oak only needs the 3 VCC/GND/VIN pins as mentioned in the tutorial, right?  I couldn't find any schematics or anything mentioning that the additional pins would provide anything like charge information to the Oak.

This is what I wrote that I wasn'

[2016-03-25 19:41] jwhendy commented on #39
I'm going to call it good on my contribution toward this effort; shot you an email last night @digistump .

[2016-03-26 02:51] nog3 commented on #39
I'm working on tutorials for:
- Making noise with the buzzer
- Tilt Switch
- Using a Servo
- Ultrasonic Ranging

and possibly:
- Soil Moisture Sensors
- Powering the Oak with a 9v Battery and Breadboard Power Adapter

But the fritzing part with the pins isn't wide enough to fit in the 400 pin breadboard and is slightly offset from the pins it claims as shown in this image.
![oakweird](https://clou

[2016-03-26 02:59] jwhendy commented on #39
The board should probably be modified, however in the meantime you _could_ cheat and manually adjust the `x` position of the board. I just tried it and ended up having to move it 0.03 from where it snapped to position. Looks reasonable:

![2016-03-25_215649](https://cloud.githubusercontent.com/assets/379357/14057639/bc0c5a56-f2d4-11e5-8399-df3ed344cd04.png)

It was origionally at `x = -0.459`; end

[2016-03-26 03:08] exeng commented on #7
@digistump , et al, I have created a fritzing part for the Oak Level Shifter Shield and recently updated it to reflect the pin swap of GND and P1 on the center servo header. A zip file containing the part is attached.
[OakLevelShifterShieldPart.zip](https://github.com/digistump/OakCore/files/190324/OakLevelShifterShieldPart.zip)

[2016-03-26 03:56] exeng commented on #39
Someone must have created a derivative of the original Fritzing part I submitted with female headers which do not line up with a breadboard. Should be and easy fix for whoever created the pin version.

[code]

 The board should probably be modified, however in the meantime you could cheat and manually adjust the x position of the board. I just tried it and ended up having to move it 0.03 from wher

[2016-03-26 04:03] exeng commented on #39
BTW, where do these parts live? I have the original Oak (female header version) and just posted to #39 a Level Shifter Shield part but where is this new Oak pin version?

[2016-03-26 04:15] nog3 commented on #39
The pin version I'm using is OakFritzingParts(V1.0).zip/Digistump Oak (v1.0-HeaderPins).fzpz from https://github.com/digistump/OakCore/issues/38#issuecomment-186315989

[2016-03-26 04:50] exeng commented on #39
Man, I must be losing it. That's the part(s) zip I submitted. I forgot that I created both versions. Checked my parts in Fritzing and the pin version snapped right in and lines up. Don't know why it wouldn't for you.

[2016-03-26 04:52] nog3 commented on #39
@exeng As it turns out, snap to grid will place the part according to its entire size, not just the pins you'd expect it to snap with. After turning off snap to grid it works fine.

[2016-03-26 05:08] digistump commented on #7
@zeiv - the 6 pin is just for stability when place on top and/or for when used with stackable headers you can use a Digispark shield on top of it. You are correct about only those three pins in use.

A few other things - that I didn't expect you to guess - but that would be great if you could work them in to your tutorial:

1) The empty two pin holes that aren't part of the 6 or 3 pin header - the

[2016-03-26 05:08] #7 closed

[2016-03-26 05:44] digistump commented on #58
The forums are the best place -  issues on github tend to be best for
confirmed bugs in the code, since most of the community hangs around the
forums instead and is often eager to help - confusing I know with so many
things in so many places.

This thread might be a good place to start:
http://digistump.com/board/index.php/topic,2103.0.html for the issue you
are seeing.

On Thu, Mar 24, 2016 at 5:

[2016-03-26 05:44] #58 closed

[2016-03-26 05:50] digistump commented on #39
If anyone in this thread it waiting for a bounty and hasn't gotten it -
please email me at support@digistump.com - I think I've responded to all
the bounty claims I've gotten, but I want to make sure I didn't miss any.

Anyone adding new tutorials, once they are up please post back here, and
then email me to claim.

On Fri, Mar 25, 2016 at 9:52 PM, Brendan Halliday notifications@github.com
wrote:

[2016-03-27 00:21] nog3 commented on #39
Hi @digistump http://digistump.com/wiki/oak/tutorials/buzzer is now up and should be right to go.

I'll post when the rest are up and send in a bounty claim when you're happy with the content for them :)

[2016-03-27 08:00] digistump commented on #32
Usman - as mentioned in my email, Particle had some feedback about this -

Basically the key thing is - they aren't using the buildpacks for their build farm right now, not sure how I came to understand they are, but basically they haven't implemented docker within their build farm yet to run images like this. This of course led me to make sure I understand how the build farm works right now vs ho

[2016-03-27 09:33] usmanatron commented on #32
Hi @digistump,

Thanks for the feedback and explanation.  That's unfortunate, but at least it sounds like everything we've done so far has been directly useful :-)

I'm more than happy to get involved again and re-package the components to fit the new setup.  In order to do this efficiently though, it would be good to get more information on their setup (e.g. what exactly their toolchain looks lik

[2016-03-28 05:48] kh90909 commented on #30
Okay, I've gotten far along enough with this that I'm confident I can finish it in a reasonable amount of time, so I'm going to claim this issue. @emcniece I hope you don't mind, it doesn't look like you're working on it any more.

So far, I've found and fixed a few bugs in the OakCore cloud serial code, added rate limiting, and I've got a prototype jQuery-based terminal app successfully logging i

[2016-03-28 17:52] digistump commented on #30
@kh90909 Great to hear, thanks for working on this and thanks for the update - I look forward to seeing it!

[2016-03-29 18:02] emcniece commented on #30
@kh90909 feel free to dig in! I'm basically at the same point (basic UI, device list) but it sounds like you have made it further into the core.

If you would like to collaborate, I'm open... but I have definitely not made "timely" progress :D

[2016-03-31 05:48] kh90909 commented on #30
@emcniece I'm happy to collaborate.

I've uploaded the cloud serial bugfixes to my [fork of OakCore](https://github.com/kh90909/OakCore/tree/cloud-serial-fixes), and put my work-in-progress html/js terminal app in it's own repo [here](https://github.com/kh90909/OakTerm). You should be able to run it via the rawgit link in the readme. Hack away!

[2016-03-31 06:01] kh90909 commented on #30
@digistump I'm running into some difficulty sending commands and data _to_ a specific Oak. Right now, `oak/device/stdin` and `oak/device/reset` events go to all of your Oaks. This could be useful on occasion, but definitely not always. I don't see any ParticleJS or Cloud API call to send an event to a specific device id. Am I missing something obvious? It looks to me like the Particle Cloud doesn'

[2016-04-01 23:21] digistump commented on #32
Usman,

I've asked Particle for as much of info as they can give us, or an image, I'll let you know when I hear back - thanks for being willing to get involved again!

Thanks,
Erik

[2016-04-01 23:25] digistump commented on #30
@kh90909 thanks for all your work on this - pull requests merged!

I've contact particle about the sending to a single device issue (and confirmed that I don't see a way to either, but Particle has similar events, so they must have a trick)  - asking if its possible, and if not, how they make their similar functionality work - if they don't provide a solution then what you suggest sounds like a gr

[2016-04-01 23:43] kh90909 commented on #30
@digistump no problem, I'm glad I can contribute. @emcniece is doing great work too refactoring my kludged together html/css/js into a polished app.

Okay, I'll try out my `/oak/device/stdin/:deviceid` workaround in the meantime. It shouldn't require many changes to implement.

[2016-04-04 16:46] impressiver opened #61 "Local update error caused by outdated pyOpenSSL"
I'm following instruction on alternate bootstrap instructions after easy-install failed (I have an unconventional network configuration, so not too surprised). I'm working through the guides in order so I can take notes on speedbumps.

Running the [local update](http://digistump.com/wiki/oak/tutorials/local_update) I ran into an OpenSSL error. It has a simple fix (update `pip`), but as it might bi

[2016-04-04 16:55] impressiver commented on #61
As an afterthought, this could happen due to any outdated dependencies, might be a better idea to point to a general "update your pythons" wiki page?

[2016-04-06 20:25] sacbhale commented on #32
@digistump
Is there progress on this?
I bought the oak because of the promise of being able to use particle cloud. And that includes their dev tools.
I am not a kickstarter backer. But i keep an eye on the comments section and I see You have been very silent since the release of 1.0 firmware. I know that was step 0 but what about the rest.
Updates and ETA (even if you end up pushing it out) would

[2016-04-08 05:53] ImanolBarba opened #62 "Messed with flash, now can't restore the Oak with OakRestore"
Hi,

I've been trying to explore the capabilities of the Oak by writing code to the es-12 module directly on board by using Platform.io.

It worked well, but in doing so, I can't manage now to restore the oak. By saying this I mean that I used OakRestore and it didn't work. When I wrote the firmware, I could see this on the terminal:

[code]

This is the part that worries me:

`Uploading 223232 by

[2016-04-08 08:17] ImanolBarba commented on #62
After reading some hard-to-find documentation, it seems I only have to write the OakBoot at 0x0000 again, correct?

[2016-04-08 12:46] ImanolBarba commented on #62
Yes, that fixed it

I suggest adding a small note about it on the OakRestore page

[2016-04-08 12:46] #62 closed

[2016-04-14 04:52] kh90909 opened #64 "Spaces* in the key string supplied to Particle.variable() and .function() break cloud accesses and calls"
\* and likely other characters that require URL encoding.

`Particle.variable()` and `Particle.function()` will accept a key string containing spaces, and these key strings are successfully conveyed to clients via the `getDevice()` API call. However, trying to use `getVariable()` or `callFunction()` fail because the key string forms part of the URL for the underlying GET / POST request.

URL encod

[2016-04-16 05:38] digistump commented on #32
No real update or ETA - we are entirely waiting on Particle at this point
to tell us the environment variables that are set for the Oak makefile to
know how to interact with the filesystem of their build farm. I wish that
wasn't the case, and I continue to check in with them for progress on
giving us even a little documentation so that we can try to finish this,
but that is all I can do right now.

[2016-04-19 23:34] exeng commented on #39
@jwhendy, Looks like someone in the forum found an error in you RBG LED tutorial. See this message...
http://digistump.com/board/index.php/topic,2211.msg10333/topicseen.html#msg10333

[2016-04-20 00:46] jwhendy commented on #39
@exeng Bah. Thanks for the heads up! I think I recall seeing that locally, making a mental note, and then forgetting to change it on the wiki. Fixed.

[2016-04-30 13:12] usmanatron commented on #32
Hi @digistump
Any news?  As noted before, I'm happy to pick up liaising with Particle if that will help; just let me know :-)

Cheers
Usman

[2016-05-01 05:17] digistump commented on #32
Particle has said they will have clear instructions to set it all up by May
13th - as soon as they have those I will pass them along, and if needed
connect you with them via Slack.

Thanks for still being willing to work on this!
Erik

On Sat, Apr 30, 2016 at 6:12 AM, Usman Iqbal notifications@github.com
wrote:

[2016-05-03 19:13] eumb commented on #19
I had a previous oak version. I deleted that 0.9.3 folder and all was working again.

[2016-05-09 11:51] nog3 commented on #39
Tilt Switch has been up at http://digistump.com/wiki/oak/tutorials/rollingball for a while, happy to fix any feedback.

[2016-05-12 21:33] jackygurui opened #65 "Tone implementation"
Hi @digistump just wondering if there will be an implementation of https://github.com/digistump/OakCore/blob/master/cores/oak/Tone.cpp any time soon?

[2016-05-13 07:33] digistump commented on #65
Yes - likely soon - the main ESP8266 project has recently added an implementation, which you can use (https://github.com/esp8266/Arduino/blob/master/cores/esp8266/Tone.cpp) but there are some reports of major bugs with it (that you can't turn it off, can't change the tone) - so we'll wait for it to be a bit more stable before we merge it - leaving this open though so I don't forget

[2016-05-17 05:37] nokemono42 opened #66 "Oak crashes while controlling stepper motor."
I have a 28BYJ-48 stepper motor with a ULN2003 Driver connected to my Oak. The code runs fine on an Arduino Uno, but when I transferred it over to the Oak it crashes after just a second of rotation. I am using the AccelStepper library to help control the movement, but I found other people having success with AccelStepper and a ESP8266 type board.

Here is the serial output of the crash:
[code]
Any

[2016-05-19 00:07] digistump commented on #66
For some reason it is causing your Oak to enter a endless loop or similar lock-up - which is why it is triggering a Soft WDT reset. I think accelstepper might not light getting interrupted during delays for the network functions to take place - it is known to be a library that is picky about things like that. You may need to modify the library to use internal_delay() instead of delay().

Closing b

[2016-05-19 00:07] #66 closed

[2016-06-09 23:53] kh90909 commented on #30
A beta version of the cloud serial interface (aka OakTerm) is now available: https://github.com/kh90909/OakTerm

Please report bugs at https://github.com/kh90909/OakTerm/issues. I've also created a forum thread for help and discussion: https://digistump.com/board/index.php/topic,2302.0.html

[2016-06-10 11:53] usmanatron commented on #32
Hi @digistump
I received your latest Kickstarter update yesterday.  From that, it sounds like we don't need to rewrite this after all?
I just wanted to confirm that's the case.  Do let me know if the deadlines change as well; I'm going to try and make myself available over early July to help with anything.

Thanks
Usman

[2016-06-14 07:32] digistump commented on #32
Yes that is correct - Particle has decided to move forward with the Docker
based build farm and use the Oak as the first platform on it, so if
everything goes well nothing will need to be rewritten. I'm sure they might
request a few tweaks - so I appreciate you still being willing to work on
it! I will let you know if they change the deadline, but I double confirmed
it with their team before the l

[2016-07-20 15:34] micahwedemeyer commented on #65
👍  for tone support. I'm running a buzzer and playing some basic sound on it via PWM, but it would be great to be able to use tone.

[2016-07-25 22:55] digistump commented on #65
The next release will have this integrated - in the mean time you can replace your Tone.cpp for the Oak with the latest one and it "should" work: https://github.com/digistump/OakCore/blob/master/cores/oak/Tone.cpp

[2016-07-30 01:43] brohan commented on #39
Hi @digistump

I just completed the Ultrasonic tutorial (http://digistump.com/wiki/oak/tutorials/ultrasonic).

Everyone, this is my first tutorial, I would appreciate your reviewing it for errors, and giving me feedback. It appeared to me that one either needed a level shifter (not included in the starter kit) to properly run the 5v HC-SR04, or a different ultrasonic sensor (the route I went).

Ho

[2016-08-05 21:25] brohan commented on #39
I added anther UltraSonic tutorial to the main Oak Wiki page using the included HC-SR04, with a level shifter. It can be found here:
http://digistump.com/wiki/oak/tutorials/ultrasonic_2

[2016-08-12 06:10] brohan commented on #39
@digistump Completed the PIR tutorial. No additional coding or Oak concepts, but focused on investigating sensor datasheets more thoroughly to see an additional uses or applications that what's advertised, and encouraged the reader to post their project on the Oak forums.

http://digistump.com/wiki/oak/tutorials/pir

[2016-08-13 19:47] brohan commented on #39
@digistump I updated the PIR tutorial to something I am happier with. I included a new concept expanding the Particle.publish to using that info via ifttt.com.

[2016-08-14 19:40] brohan commented on #39
@digistump I am claiming the Bounty on the powered breadboard tutorial. In this tutorial I incorporated a Deep Sleep function as a Concept. Please review and give any feedback for improvement and corrections.

[http://digistump.com/wiki/oak/tutorials/breadboard_power](url)

[2016-08-15 20:28] sacbhale commented on #32
Has this been implemented?

[2016-09-23 01:22] sacbhale commented on #32
bump

[2016-09-29 08:13] emardee commented on #32
@usmanatron @digistump Apparently [Particle recently fixed a problem at their end with the Particle IDE stuff and are ready to work with you guys on getting Oaks working](https://digistump.com/board/index.php/topic,2427.msg11490.html#msg11490) for online IDE flashing.

Currently it appears that Particle IDE is actually offering to flash Oak devices online with firmware v1.0.5 (which sounded promis

[2016-09-29 08:20] usmanatron commented on #32
Hi @emardee ,
Thanks for the link :-).  We're currently in discussion with Particle and we have some actions on our side to do some more testing ( @digistump has made some changes which hopefully fix it).  Finding time is hard (we both work Mon - Fri) but we definitely haven't forgotten!

With any luck I'll have a chance to try this over the weekend.  I'll try to keep this thread updated with prog

[2016-09-29 08:57] pfeerick commented on #32
@usmanatron Thanks for the update. Glad to hear you guys are on the case... hopefully not much further to go! @emardee Looks like we were both thinking the same thing... I just hopped on to post a comment also! :D

[2016-09-29 10:05] emardee commented on #32
@usmanatron Glad to hear the news.... if you need anyone to rest it, I'm sure @pfeerick could be useful... as I understand it, he's bricked and serial-restored his Oak devices so many times, he can do it in his sleep! So he might be a fearless tester to have on your side.... (me less so unfortunately, but I can make encouraging noises from the sideline!)

Hope you find some time soon.

Thanks for

[2016-09-29 23:46] pfeerick commented on #32
lol... so much so that I decided to try this was as good a reason as any to learn how to use docker, so built and ran the docker config from https://github.com/digistump/buildpack-oak. I set it up for 1.0.5, but it seems to be making firmware files about 25k bigger than the equivalent arduino install is on windows, so I'll have to compare it with the linux install to see if that is a anomaly or no

[2016-10-07 11:48] emardee commented on #32
Don't forget to ask if you need any help... or encouragement... or both!

[2016-10-11 22:15] ekettenburg commented on #65
in 1.0.6

[2016-10-11 22:15] #65 closed

[2016-10-16 00:32] wickwire opened #71 "ESP8266WiFi SSL Support"
Hi,

I've finally had the time to start fiddling with my Oaks and Acorns and I'm trying to use the MQTT messaging protocol with the Oak.

So far I've been successful in writing up a basic sketch that connects the Oak to CloudMQTT and writes to a given topic in a loop, using PubSubClient.

I then decided to go MQTT and SSL, a feature which CloudMQTT supplies and I've also used with success recently

[2016-10-16 23:19] wickwire commented on #71
Actually it seems that the setCertificate and setPrivateKey were introduced at 2.1.0 so I might get away with bumping the oak core just to 2.1.0

[2016-10-22 02:17] pfeerick opened #72 "esptool2 on linux"
It appears the repackaged esptool2 for both i686-linux-gnu and x86_64-pc-linux-gnu are being extracted to the wrong folder....

Instead of being unpacked to

`~/.arduino15/packages/digistump/tools/esptool2/0.9.1/esptool2`

they are instead being unpacked to

`~/.arduino15/packages/digistump/tools/esptool2/0.9.1/0.9.1/esptool2`

(note double 0.9.1), resulting in compile failure. There appears to be

[2016-11-04 00:50] wickwire commented on #71
Still not working for the Oak - but it is working for a generic ESP8266-01 running Arduino ESP8266 2.0.0 and the fingerprint method.

I used the following commands to obtain cloudmqtt's fingerprint hash:

$ echo -n | openssl s_client -connect m11.cloudmqtt.com:22002 > cloudmqtt.pem
$ openssl x509 -noout -in cloudmqtt.pem -fingerprint -sha1

SHA1 Fingerprint=A5:02:FF:13:99:9F:8B:39:8E:F1:83:4F:11:2

[2016-12-20 01:54] pfeerick opened #75 "tone() with a frequency of 0 will crash Oak"
This bug originates from the ESP8266 Arduino core implementation, but I am also referencing it here as I will crosslink the two issues so it is easy to implement a solution once the best course of action is decided.

As per a [discussion thread on the forum](http://digistump.com/board/index.php/topic,2516.0.html), an issue has been idenfied in the tone() function that caused the example sketch to

[2016-12-21 10:11] pfeerick commented on #75
A second tone related issue has come up on the forum on the same thread, where tone() will only work on P3. Due to a fluke in P3 aligning with GPIO3, and the tone melody example using P3, it was probably not detected that esp8266_pinToGpio was not needed in this library. I'll submit a pull request to remove these calls, along with some test code to demonstrate that it isn't needed. I'll also patch

[2016-12-23 14:52] joeycortez42 commented on #71
@wickwire I was trying to do the same at release, but took a few months off to let the Oak get more stable. I'm going to look into what you did over the holiday break and hopefully provide some insight.

[2017-01-09 09:44] rkinnett commented on #56
@jwhendy I wanted to give you a heads up that I massively overhauled the [Serial Comm through Arduino](http://digistump.com/wiki/oak/tutorials/serial_through_arduino) page which you originated.  I would be glad to hear what you think of it.  Also left an inline fixme note about needing to fix the Fritzing diagram; not sure if I'll get to that or leave it for the next passerby.

I wasn't aware unti

[2017-01-09 14:05] jwhendy commented on #56
@rkinnett Looks good to me. Looks good to me! It actually seemed like a lot of re-arranging/supplementing vs. an overhaul, per se, but I admit to primarily skimming. I looked and don't seem to have that Fritzing diagram as a starting point but could probably generate one if we want to illustrate the voltage divider.

[2017-01-09 15:06] jwhendy commented on #56
@rkinnett  Went to tackle the fritzing and actually do have more comments now.

- why recommend the bi-dir converter vs. just a regular 3.3V capable [USB UART](https://www.amazon.com/HiLetgo-Ft232rl-Serial-Adapter-Arduino/dp/B00IJXZQ7C)? My original intent was to give folks a way to communicate via serial *without* such a device since most will already have an Arduino but probably not a UART. Feel

[2017-01-13 03:44] rkinnett commented on #56
@jwhendy thanks for reviewing and being open to changes.  All good points.

Nice job on the Fritzing diagram; you nailed it.  I went ahead and posted it in the article.

Regarding the option of using a level shifter, I didn't intend for that option to be the primary recommendation, but you're right, that's the way it came across.  Level shifters are becoming more common these days, so I figured it

[2017-01-13 04:10] rkinnett commented on #56
@jwhendy sorry, I misread your note about the version of the data sheet.  The "[current version](https://espressif.com/sites/default/files/documentation/0a-esp8266ex_datasheet_en.pdf)" you posted above is for the ESP8266**EX**.  I don't know if the Oak's ESP-12-F board uses the same chip (?).

[2017-01-15 00:47] rkinnett commented on #39
@digistump I added a stepper motor lesson.  I hope it's not too much detail...

[https://digistump.com/wiki/oak/tutorials/stepper_motor](https://digistump.com/wiki/oak/tutorials/stepper_motor)

I hope someone finds this useful!

[2017-01-15 01:13] jwhendy commented on #56
@rkinnett Thanks for the correction on the board! I completely missed the "EX" at the end. I can't seem to find a data sheet that lists the "regular" ESP8266 *and* the over-voltage protection, though. Check the v4.3 version... I just now caught that it says "EX" on the title page too. Then again, I'm on the espressif site and using their [document map](https://espressif.com/en/support/explore/get-

[2017-04-13 21:34] haakonnessjoen commented on #32
Ok,

So if I flash my Oak from the Particle Build interface. It works great now. Does that mean that it uses the Docker image?

If so, it works great, except: it doesn't seem to include a -Ilib/ in the compile options, because if I try to include libraries, it says:
![image](https://cloud.githubusercontent.com/assets/416667/25025179/7f2a1d52-20a1-11e7-999d-0d8e2b62a90c.png)

So it seems like the l

[2017-04-14 01:59] pfeerick commented on #32
Yeah, I'm pretty sure that is the case... it took a while but particle finally rolled it out. There is a _possibility_ that this broke because they changed a load of stuff recent in relation to library include and management... but there has always been an issue with library includes on this docker image... some libraries worked just fine... but not others.

I get that same output if I add the Htt

[2017-05-19 17:49] eiannone commented on #71
Hi, I have the same problem with WiFiClientSecure. I get the following error when calling connect() method:

    Panic /oakCore/cores/oak/ESP8266WiFi/src/WiFiClientSecure.cpp:387 ax_port_malloc

Has anyone managed to solve this?

[2017-05-24 09:37] wickwire commented on #71
Hi, I guess it is still in the same state as before, at least by looking at the current repo state (fairly unchanged since last year).

It could be something solvable by poking into memory management, but I can't say for sure. Aside from that, using the regular method i.e. without WiFi secure, it works.

Maybe this thread can help https://github.com/esp8266/Arduino/issues/1159

[2017-07-26 22:54] wickwire commented on #71
Just a quick update on this issue:

This week I had the time to fiddle with the Oak once more and by replacing the original Oak firmware with ESP8266 Arduino I was able to use my Oak to publish recurring messages to the CloudMQTT broker, over SSL:

ESP8266 Arduino 2.3.0
PubSubClient 2.6.0

Instructions: http://nog3.net/2017/06/05/removing-particle-from-oak/

So at least, this would confirm that th

[2017-08-06 22:07] gadkrumholz opened #85 "https://oakota.digistump.com/firmware/firmware_v1.bin is 1.0.5 not 1.0.6?"
https://oakota.digistump.com/firmware/firmware_v1.bin seems to be 1.0.5 not 1.0.6...

I have no idea how to compile my own official firmware (with config/update modes built in)...
buildpack-oak only generates base firmware with no config/update modes... and does not include the *.ino files required for the /input directory...

So I'm filing this issue here assuming that ya'll can just build 1.0.6

[2018-07-04 05:18] susumakeit commented on #56
There is another way to us "TTL level converters 5V -> 3.3V"

[2018-09-25 23:42] ramagandhi opened #86 "OneWire.h Library error on ESP 8266"
When compiling code (modified form of supplied example code DS18x20_Temperature) i get a following error :

_C:\Users\Strevia\Documents\Arduino\libraries\OneWire/OneWire.h:108:2: error: #error "Please define I/O register types here"

 #error "Please define I/O register types here"

  ^

Multiple libraries were found for "OneWire.h"
 Used: C:\Users\Strevia\Documents\Arduino\libraries\OneWire
 Not u

[2018-11-28 17:36] amanintech commented on #22
it was really simple just include the library of the sensor before onewire its fixed ...really stupid

[2021-09-19 05:39] ghoshzsh commented on #22
# Solution
1. If you installed One Wire library from zip then it would be in `C:/Users/<username>/Documents/Arduino/libraries`
2. This path doesn't work for this OneWire library. (I don't know why!!)
3. Delete the *OneWire Folder*
4. Restart Arduino IDE
5.  Go to `tools>manage libraries`
6. Type OneWire in the search box
7. Install that one that has the name ***Paul Stoffregen***
8. Now restart th